@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
a{
    color: #333;
    text-decoration: none;
}
html{
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
}
img{
    width: 100%;
}
p{
    font-size: 16px;
    line-height: 1.8;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.footer{
    padding: 30px 0;
    background-color: #333;
}


/*------------------------header_gnb---------------------*/

.header .gnb_wrap{
    height: 0;
    text-align: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all ease-in-out 0.2s;
    position: relative;
}
.header .gnb_wrap.on{
    height: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
}
.header .gnb_wrap a{
    padding: 20px;
    font-size: 18px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.header .gnb_wrap a:active{
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
.header .gnb_wrap .gnb_close{
    width: 64px;
    height: 64px;
    max-height: 0;
    margin: 0 auto;
    overflow: hidden;
}
.header .gnb_wrap.on .gnb_close{
    max-height: 100px;
}
.header .gnb_wrap .gnb_logo{
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.header .gnb_wrap .gnb_logo:hover{
    border: 1px solid #999;
}
.header .gnb_wrap .gnb_logo a{
    color: #ccc;
}
.header .gnb_wrap .gnb_logo:hover a{
    color: #999;
}
.header .gnb_wrap.on .gnb_logo:hover a{
    color: #333;
}
.header .gnb_wrap .nav_wrap .nav_item a{
    display: inline-block;
    position: relative;
}
.header .gnb_wrap .nav_wrap .nav_item a:after,
.header .gnb_wrap .nav_wrap .nav_item.on a:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.header .gnb_wrap .nav_wrap .nav_item.on a:after{
    width: 100%;
}
.header .gnb_wrap .nav_wrap .nav_item a:hover:after{
    width: 100%;
}
.header .gnb_wrap .nav_wrap .nav_item{
    max-height: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
}
.header .gnb_wrap.on .nav_wrap .nav_item{
    max-height: 100px;
    -webkit-animation: mymove 0.2s forwards;
    animation: mymove 0.2s forwards;
}
.header .gnb_wrap .nav_wrap .nav_item:nth-child(1){
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
.header .gnb_wrap .nav_wrap .nav_item:nth-child(2){
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.header .gnb_wrap .nav_wrap .nav_item:nth-child(3){
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}
.header .gnb_wrap .nav_wrap .nav_item:nth-child(4){
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
.header .gnb_wrap .nav_wrap .nav_item:nth-child(5){
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes mymove {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        color: rgba(250,250,250,1);
    }
}
@keyframes mymove {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*------------------------/header_gnb---------------------*/


/*------------------------footer_gnb---------------------*/

.footer .gnb_wrap{
    max-width: 768px;
    margin: 0 auto;
}
.footer .gnb_wrap .gnb_logo{
    margin-bottom: 30px;
    text-align: center;
}
.footer .gnb_wrap .gnb_logo a i{
    font-size: 70px;
}
.footer .gnb_wrap a{
    padding: 30px 20px;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.footer .gnb_wrap a:hover{
    color: #666;
}
.footer .gnb_wrap .nav_wrap{
    overflow: hidden;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.footer .gnb_wrap .nav_wrap .nav_item{
    float: left;
}
.footer .gnb_wrap .nav_wrap .nav_item_wrap{
    float: right;
}
.footer .gnb_wrap .nav_wrap .nav_item_wrap a{
    font-size: 24px;
}
.footer .gnb_wrap .copyright{
    margin-top: 30px;
    text-align: center;
    color: #999;
}

/*------------------------/footer_gnb---------------------*/


/*------------------------button---------------------*/

.button_wrap{
    padding: 30px 0;
    display: inline-block;
    text-align: center;
}
.button_wrap a{
    margin: 10px 15px;
    padding: 15px 30px;
    display: inline-block;
    border: 2px solid #333;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.button_wrap a:hover{
    background-color: #333;
    color: rgba(250,250,250,1);
}

/*------------------------/button---------------------*/

.section{
    padding: 150px 0;
}
.section_content{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}
.tx_1{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}
.tx_2{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.6;
}
.tx_3{
    font-size: 18px;
    line-height: 1.6;
}
.row{
    overflow: hidden;
}
.col{
    float: left;
}
.col_3_1{
    width: 33.33333333333333%;
}
.col_3_2{
    width: 66.66666666666667%;
}
.full_width{
    padding: 0;
}
.full_width .section_content{
    max-width: 100%;
}
