@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

a{
  display: inline-block;
  color: #333;
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
}
img{
  width: 100%;
}

.no_scroll{
  overflow: hidden;
}


.loading {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 1);
}
.loading .loading_img {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateY(-50%) translateX(-50%);
}
.loading .loading_img .circle {
    position: absolute;
    border: 3px solid transparent;
    border-top-color: #ffca38;
    border-radius: 50%;
    -webkit-animation: rotate linear infinite;
    animation: rotate linear infinite;
}
.loading .loading_img .circle.one {
    height: 50px;
    width: 50px;
    left: 50px;
    top: 50px;
    -webkit-animation-duration: .85s;
    animation-duration: .85s;
}
.loading .loading_img .circle.two {
    height: 75px;
    width: 75px;
    top: 38px;
    left: 38px;
    -webkit-animation-duration: .95s;
    animation-duration: .95s;
}
.loading .loading_img .circle.three {
    height: 100px;
    width: 100px;
    top: 25px;
    left: 25px;
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}


.header{
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header .logo{
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 99;
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.header .logo.onVisual{
  opacity: 0;
}
.header .logo a{
  font-size: 50px;
  color: rgb(255, 202, 56);
}
.header .menuBtn{
  width: 36px;
  height: 22px;
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
  z-index: 99;
}
.header .menuBtn .line{
  width: 80%;
  height: 2px;
  background: #333;
  position: absolute;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header .menuBtn.onVisual .line{
  background: #eee;
}
.header .menuBtn .line_1{
  top: 0;
}
.header .menuBtn .line_2{
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
}
.header .menuBtn .line_2:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #333;
  transition: transform .35s ease-in-out, background-color .2s;
}
.header .menuBtn.onVisual .line_2:before{
  background: #eee;
}
.header .menuBtn .line_3{
  bottom: 0;
}
.header .menuBtn.on .line{
  background: #777;
}
.header .menuBtn.on .line_1{
  transform: translate3d(-18px, 0, 0);
  opacity: 0;
}
.header .menuBtn.on .line_2{
  transform: rotate(45deg);
}
.header .menuBtn.on .line_2:before{
  transform: rotate(-90deg);
  transition: transform .35s ease-in-out;
  background: #777;
}
.header .menuBtn.on .line_3{
  transform: translate3d(18px, 0, 0);
  opacity: 0;
}
.header .gnb{
  position: fixed;
  top: 0;
  bottom: 100%;
  right: 0;
  left: 0;
  overflow: hidden;
  background: #eee;
  z-index: 98;
  -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.header .gnb.on{
  bottom: 0;
}
.header .gnb ul{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .gnb ul li a{
  padding: 20px 10px;
  font-size: 30px;
}
.main_visual{
  height: 100vh;
  background: url("../images/main_visual/visual_temp_1215.jpeg") 50% 80% no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main_visual .visual_inner{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(36,33,33,0.46);
}
.main_visual .visual_inner .title_text{
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255,255,255,0.8);
}
.main_visual .visual_inner .title_text span{
  position: relative;
  animation: visualTxtAni 4s ease-in-out infinite;
  opacity: 0;
}
.main_visual .visual_inner .title_text span:nth-child(1){
  animation-delay: .1s;
}
.main_visual .visual_inner .title_text span:nth-child(2){
  animation-delay: .2s;
}
.main_visual .visual_inner .title_text span:nth-child(3){
  animation-delay: .3s;
}
.main_visual .visual_inner .title_text span:nth-child(4){
  animation-delay: .4s;
}
.main_visual .visual_inner .title_text span:nth-child(5){
  animation-delay: .5s;
}
.main_visual .visual_inner .title_text span:nth-child(6){
  animation-delay: .6s;
}
.main_visual .visual_inner .title_text span:nth-child(7){
  animation-delay: .7s;
}
.main_visual .visual_inner .title_text span:nth-child(8){
  animation-delay: .8s;
}
.main_visual .visual_inner .title_text span:nth-child(9){
  animation-delay: .9s;
}
.main_visual .visual_inner .title_text span:nth-child(10){
  animation-delay: 1s;
}
.main_visual .visual_inner .title_text span:nth-child(11){
  animation-delay: 1.1s;
}
.main_visual .visual_inner .title_text span i{
  text-shadow: 0 0 4px #fff, 0 0 2px rgba(255, 245, 217, 0.6);
  font-style: normal;
}
.main_visual .visual_inner .title_logo{
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 400px;
  color: rgb(255, 202, 56);
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.main_visual .visual_inner .title_logo.on{
  opacity: 1;
}
.main_visual .visual_inner .scroll_down{
  line-height: 24px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  animation: scroll_down .8s ease-in-out infinite alternate;
}
.main_visual .visual_inner .scroll_down a{
  color: #999;
}
.main_visual .visual_el{
  position: absolute;
}
.main_visual .visual_tree1{
  left: 0;
  width: 22%;
  height: 100%;
  max-width: 360px;
  background: url("../images/main_visual/visual_elem_1.png") -5% bottom no-repeat;
  background-size: 100%;
  animation: visual_tree1 2s ease-out forwards;
}
.main_visual .visual_tree2{
  left: 0;
  width: 20%;
  max-width: 280px;
  height: 100%;
  background: url("../images/main_visual/visual_elem_2.png") -10% bottom no-repeat;
  background-size: 100%;
  animation: visual_tree2 4s ease-in forwards;
}
.main_visual .visual_tree3{
  right: 0;
  width: 22%;
  max-width: 300px;
  height: 100%;
  background: url("../images/main_visual/visual_elem_3.png") 0% bottom no-repeat;
  background-size: 100%;
  animation: visual_tree3 2s ease-out forwards;
}
.main_visual .visual_tree4{
  right: 0;
  width: 20%;
  max-width: 250px;
  height: 100%;
  background: url("../images/main_visual/visual_elem_4.png") 0 bottom no-repeat;
  background-size: 100%;
  animation: visual_tree4 4s ease-in forwards;
}
.main_visual .visual_fog1{
  width: 70%;
  height: 100%;
  right: 0;
  opacity: 0.6;
  background: url("../images/main_visual/visual_elem_5.png") 0 100% no-repeat;
  background-size: 90%;
  animation: visual_fog1 28s ease-in-out infinite alternate;
}
.main_visual .visual_fog2{
  width: 50%;
  height: 50%;
  bottom: 15%;
  left: 0;
  opacity: 0.3;
  background: url("../images/main_visual/visual_elem_6.png") 50% 50% no-repeat;
  background-size: 100%;
  animation: visual_fog2 18s linear infinite alternate;
}

.container .con_hello{
  height: 100vh;
  position: relative;
}
.container .con_hello .inner{
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.container .con_hello .inner h2{
  margin: 0 auto;
  display: table;
  font-size: 100px;
  color: #e3e1e1;
  position: relative;
}
.container .con_hello .inner h2:before {
  width: 0;
  overflow: hidden;
  position: absolute;
  color: #8cddeb;
  content: "Hello.";
  transition: all .55s;
}
.container .con_hello .inner h2.on:before{
  width: 100%;
}
.container .con_hello .inner h6{
  margin-top: 10px;
  margin-bottom: 50px;
  color: #aaa;
  font-weight: 300;
}
.container .con_hello .inner .hello_text{
  padding: 0 10%;
  font-size: 20px;
  line-height: 36px;
  color: #333;
}


@keyframes visual_tree1 {
  0%{top: 0; left: 0;}
  100%{top: 40px; left: -40px;}
}
@keyframes visual_tree2 {
  0%{top: 0; left: 0;}
  100%{top: 80px; left: -80px;}
}
@keyframes visual_tree3 {
  0%{top: 0; right: 0;}
  100%{top: 30px; right: -30px;}
}
@keyframes visual_tree4 {
  0%{top: 0; right: 0;}
  100%{top: 70px; right: -70px;}
}
@keyframes visual_fog1 {
  0%{right: 0%;}
  100%{right: 30%;}
}
@keyframes visual_fog2 {
  0%{left: 0%;}
  100%{left: 10%;}
}
@keyframes visualTxtAni {
  0% {opacity: 0; left: 80px;}
  30% {opacity: 1; left: 0;}
  60% {opacity: 1; left: 0;}
  100% {opacity: 0; left: -80px;}
}
@keyframes scroll_down {
  0% {bottom: 10%;}
  100% {bottom: 11%;}
}
@-webkit-keyframes rotate{
  from{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
  to{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
}
@keyframes rotate{
  from{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
  to{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
}


@media screen and (max-width: 640px) {
  .header .logo{
    top: 10px;
    left: 10px;
  }
  .header .logo a{
    font-size: 40px;
  }
  .header .menuBtn{
    top: 15px;
    right: 10px;
  }
  .main_visual .visual_inner .title_text{
    font-size: 30px;
  }
  .main_visual .visual_inner .title_logo{
    font-size: 350px;
  }
  .container .con_hello .inner h2 {
      font-size: 64px;
  }
  .container .con_hello .inner .hello_text {
      font-size: 14px;
      line-height: 26px;
      text-align: left;
  }
}
