@charset "utf-8";
@import url("reset.css");

.menu-section{
    background-color: rgba(52, 47, 41, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.menu-section.on {
    opacity: 1;
    z-index: -1;
    visibility: visible;
}
.menu-section nav ul {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-section nav ul.hidden {
    display: none;
}
.menu-section nav ul a {
    width: 100%;
    padding: 20px 0;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #fff;
    font-size: 30px;
    display: block;
}
.menu-section nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
body {
    font-family: "Microsoft Yahei", Helvetica, "微软雅黑", STXihei, "华文细黑", Arial, sans-serif;
    color: #333;
}
body.on{
    overflow: hidden;
}
.wrapper {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
.wrapper p {
    line-height: 22px;
}
.header {
    max-width: 640px;
    height: 50px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(52, 47, 41, .2);
}
.header .logo {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 12;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header .logo a {
    width: 62px;
    height: 30px;
    background: url("../images/m_logo.png") 0 0 no-repeat;
}
.header .menu-toggle {
    width: 25px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 12;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}
.header .menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(6px, 6px);
}
.header .menu-toggle.on .two {
    opacity: 0;
}
.header .menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(5px, -5px);
}
.header .menu-toggle .one, .menu-toggle .two, .menu-toggle .three {
    width: 100%;
    height: 2px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.container .visual {
    position: relative;
}
.container .visual .tx {
    width: 265px;
    height: 101px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("../images/m_visual_tx.png") 0 0 no-repeat;
}
.container .visual .arrow-wrap{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.container .visual .arrow-wrap .arrow{
    width: 50%;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
}
.container .visual .arrow-wrap .arrow:nth-child(1){
    top: 50%;
    left: 3px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container .visual .arrow-wrap .arrow:nth-child(2){
    top: 50%;
    right: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.container .visual .playBtn {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container .visual .playBtn a {
    padding: 10px 20px;
    border: 1px solid #b79974;
    color: #b79974;
    border-radius: 20px;
}
.container .con .con_inner {
    padding: 40px 15px;
}
.container .con .txBox ul {
    width: 180px;
    margin: 0 auto 35px;
    text-align: center;
}
.container .con .txBox ul li:nth-child(1) {
    font-size: 16px;
}
.container .con .txBox ul li:nth-child(2) {
    padding: 5px 0 10px;
    font-size: 30px;
    font-weight: bold;
}
.container .con .txBox ul li:nth-child(3) {
    padding-top: 5px;
    font-size: 16px;
    border-top: 1px solid #333;
    color: #ae8b5b;
}
.container .con .txBox p {
    font-size: 16px;
}
.container .con h2 {
    font-size: 24px;
    font-weight: bold;
    color: #ae8b5b;
    text-align: center;
}
.container .con .imgWrap {
    padding: 35px 0;
}
.container .con .imgWrap ul {
    position: relative;
}
.container .con .imgWrap ul li:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.container .con .imgWrap ul li:nth-child(2) {
    margin: 0 auto;
}
.container .con1, .container .con3 {
    background: #f7f3ee;
}
.container .con1 .imgWrap ul li:nth-child(1) {
    width: 95px;
}
.container .con1 .imgWrap ul li:nth-child(2) {
    width: 230px;
}
.container .con2 .imgWrap ul li:nth-child(1) {
    width: 55px;
}
.container .con2 .imgWrap ul li:nth-child(2) {
    width: 255px;
}
.container .con3 .imgWrap ul li:nth-child(1) {
    width: 76px;
}
.container .con3 .imgWrap ul li:nth-child(2) {
    width: 175px;
}
.container .con4 .imgWrap ul li:nth-child(1) {
    width: 135px;
}
.container .con4 .imgWrap ul li:nth-child(2) {
    width: 255px;
}
.container .con5 {
    position: relative;
}
.container .con5 ul {
    position: absolute;
    top: 50px;
    right: 15px;
}
.container .con5 ul li:nth-child(2) {
    font-size: 70px;
    font-weight: bold;
}
.container .con6 h2, .container .con7 h2 {
    font-size: 30px;
    color: #333;
}
.container .con6 ul {
    overflow: hidden;
}
.container .con6 ul li {
    width: 50%;
    margin-top: 35px;
    float: left;
}
.container .con6 ul li:nth-child(2n+1) {
    padding-right: 5px;
}
.container .con6 ul li:nth-child(2n+2) {
    padding-left: 5px;
}
.container .con6 ul li span {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #ae8b5b;
    text-align: center;
}
.container .con6 ul li img:nth-child(2) {
    display: block;
    margin: 0 auto;
}
.container .con6 ul li .imgWrap {
    margin: 30px auto;
}
.container .con6 ul li:nth-child(1) .imgWrap {
    width: 55px;
    height: 140px;
    background: url("../images/con1_1.png") 0 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.container .con6 ul li:nth-child(2) .imgWrap {
    width: 35px;
    height: 140px;
    background: url("../images/con2_1.png") 0 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.container .con6 ul li:nth-child(3) .imgWrap {
    width: 40px;
    height: 90px;
    background: url("../images/con3_1.png") 0 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.container .con6 ul li:nth-child(4) .imgWrap {
    width: 70px;
    height: 90px;
    background: url("../images/con4_1.png") 0 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.container .con6 ul li img:nth-child(3) {
    width: 42px;
    display: block;
    margin: 0 auto;
}
.container .con6 ul li h3 {
    margin: 10px 0 20px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}
.container .con7 img {
    padding: 30px 0;
}
.container .con8 {
    position: relative;
}
.container .con8 p {
    position: absolute;
    top: 40px;
    left: 15px;
}
.footer{
    position: relative;
    background: #342f29;
    color: #fff;
}
.footer .con_inner{
    padding: 0 15px;
}
.footer .con_inner ul{
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}
.footer .con_inner ul li:nth-child(1){
    font-size: 14px;
}
.footer .con_inner ul li:nth-child(1) img{
    width: 185px;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx{
    width: 300px;
    margin: 0 auto;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx > span{
    margin-bottom: 5px;
    display: block;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx > span{
    width: 55px;
    text-align: center;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx .bar{
    width: 248px;
    height: 30px;
    margin: 0 auto;
    background: url("../images/footer_2.png") center top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx .mark span{
    width: 28px;
    margin-right: 29px;
    display: inline-block;
    text-align: center;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx .mark span:last-child{
    margin-right: 0;
}
.footer .con_inner ul li:nth-child(1) .footerTop_tx p{
    margin-top: 30px;
    font-size: 16px;
    color: #ae8b5b;
    text-align: center;
}
.footer .con_inner ul li:nth-child(2){
    padding: 40px 0 35px;
    position: relative;
}
.footer .con_inner ul li:nth-child(2) a{
    width: 90px;
    margin: 0 auto;
}
.footer .con_inner ul li:nth-child(2) div{
    width: 25%;
    height: 1px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #ae8b5b;
}
.footer .con_inner ul li:nth-child(2) div:nth-child(2){
    left: 0;
}
.footer .con_inner ul li:nth-child(2) div:nth-child(3){
    right: 0;
}
.footer .con_inner ul li:nth-child(3){
    font-size: 14px;
}
.footer .con_inner ul li:nth-child(3) img{
    width: 100px;
    margin-top: 40px;
}
.footer .con_inner ul li:nth-child(3) .address{
    max-width: 336px;
    margin: 0 auto;
    display: block;
}
.footer .con_inner ul li:nth-child(3) .address p{
    line-height: 22px;
    text-align: left;
}
.footer .con_inner ul li:nth-child(3) .address p:first-child{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ae8b5b;
}
.footer .con_inner ul li:nth-child(3) .address p:last-child{
    margin-top: 30px;
    font-size: 11px;
}
