@import 'reset.css';
@import url('https://cdn.jsdelivr.net/font-kopub/1.0/kopubdotum.css');

html {
    overflow-x: hidden;
}

body {
    color: #333;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'kopubdotum';
}

html.on,
body.on {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
}

img {
    width: 100%;
    vertical-align: top;
}

input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-family: 'kopubdotum';
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #333;
}

input::placeholder {
    color: #757575;
}

input::-ms-clear {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=checkbox],
input[type=radio] {
    position: absolute;
    display: none;
}

input[type=checkbox]+label,
input[type=radio]+label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

input[type=checkbox]+label:before,
input[type=radio]+label:before {
    content: '';
    background: #fff;
    border: 1px solid #ededed;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    line-height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 10px;
    color: #f06489;
}

input[type=radio]+label:before {
    border-radius: 50%;
}

select {
    background: none;
    outline: none;
    border: none;
    font-family: 'kopubdotum';
    font-size: 1em;
    appearance: none;
    color: #333;
    position: relative;
}

.inputWrap {
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputWrap input,
.inputWrap label,
.inputWrap span,
.inputWrap select {
    height: 20px;
    line-height: 20px;
}

.inputWrap {
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.inputWrap>.fl {
    padding-right: 14px;
    padding-left: 14px;
}

.inputWrap>.fl:nth-child(2) {
    border-left: 1px solid #efefef;
}

.email .fl:first-child input {
    width: 90%;
}

.email .fl:first-child span {
    width: 10%;
}

.email .fl {
    width: 50%;
}

.email .fl:last-child select {
    width: 100%;
}

.flWrap {
    overflow: hidden;
}

.flWrap .fl {
    float: left;
}

.flWrap .fr {
    float: right;
}

.bottom_btnWrap {
    margin: 0;
}

.bottom_btnWrap a {
    height: 46px;
    line-height: 46px;
    color: #fff;
    background-color: #f06489;
    text-align: center;
    font-size: 1.2em;
}

.wrapper {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
}

.container .con0 {
    margin-top: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
}

.container .con0 h1 {
    font-size: 1.2em;
    line-height: 48px;
    text-align: center;
}

.container .con0 .btn_back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
}

.container .con0 .btn_back i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .con2 {
    height: 140px;
    padding: 0 14px;
    background-image: url(../images/main_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.main .con2 .flWrap .fl:first-child {
    width: 65%;
    margin-top: 50px;
    padding-left: 10px;
}

.main .con2 .flWrap .fl:first-child .tx1 {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.main .con2 .flWrap .fl:first-child .tx2 {
    font-size: 1.3em;
    font-weight: bold;
}

.main .con2 .flWrap .fl:first-child .tx2 a {
    width: 16px;
    margin-left: 10px;
    display: inline-block;
}

.main .con2 .flWrap .fl:last-child {
    width: 35%;
    margin-top: 30px;
}

.main .con2 .flWrap .fl:last-child .tx1 span {
    font-size: 1.3em;
    font-weight: bold;
}

.main .con2 .flWrap .fl:last-child .tx2 {
    margin-top: 15px;
}

.main .con2 .flWrap .fl:last-child .tx2 span:nth-child(2) {
    padding: 0 5px;
}

.main .con2 .flWrap .fl:last-child .tx2 span:last-child {
    font-weight: bold;
    font-size: 1.3em;
}

.main .con3 {}

.main .con3 .flWrap .fl {
    width: 50%;
    height: 110px;
    padding-top: 75px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top 20px;
    font-weight: bold;
}

.main .con3 .flWrap .fl:nth-child(1) {
    background-image: url(../images/icon_3.png);
    background-size: 43.5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.main .con3 .flWrap .fl:nth-child(2) {
    background-image: url(../images/icon_4.png);
    background-size: 45px;
    background-position: center top 30px;
    border-bottom: 1px solid #ddd;
}

.main .con3 .flWrap .fl:nth-child(3) {
    background-image: url(../images/icon_2.png);
    background-size: 39.5px;
    border-right: 1px solid #ddd;
    background-position: center top 25px;
}

.main .con3 .flWrap .fl:nth-child(4) {
    background-image: url(../images/icon_1.png);
    background-size: 42px;
}

.main .con3 .flWrap .fl span {
    color: #f06489;
    font-size: 1.1em;
}

.cover .container {
    height: 100vh;
    padding-top: 124px;
    background-color: #f06489;
    text-align: center;
}

.cover .container .visual {
    width: 100%;
    padding: 0 14px;
}

.cover .container .visual img {
    max-width: 196px;
}

.cover .container .visual .tx1 {
    margin-top: 30px;
    color: #fff;
    font-size: 1.2em;
}

.cover .container .btnWrap {
    margin-top: 100px;
}

.cover .container .btnWrap a {
    height: 50px;
    margin: 0 18px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
}

.cover .container .btnWrap a:first-child {
    margin-bottom: 10px;
    background-color: #fff;
    color: #f06489;
}

.signUp .container {
    background-color: #f8f8f8;
}

.signUp .container .con {
    margin: 20px 0;
}

.signUp .container .con .tx1 {
    margin-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
}

.signUp .container .con2>.flWrap>.fl:first-child {
    width: 60%;
}

.signUp .container .con2>.flWrap>.fl:last-child {
    width: 40%;
}

.signUp .container .con2>.flWrap>.fl:last-child .fl:first-child {
    margin-right: 15px;
}

.signUp .container .con3>.flWrap>.fl {
    width: 100%;
}

.signUp .container .con4>.inputWrap {
    position: relative;
    padding-right: 40px;
}

.signUp .container .con4>.inputWrap>a {
    padding: 3px 5px;
    color: #fff;
    background-color: #f06489;
    border-radius: 4px;
    display: inline-block;
}

.signUp .container .con5 {
    padding-bottom: 30px;
}

.signUp .container .con5 .tx2 {
    padding: 0 18px;
    color: #7d7d7d;
    font-size: 0.9em;
    line-height: 20px;
}

.login .container .visual {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #f06489;
    text-align: center;
}

.login .container .visual img {
    max-width: 196px;
}

.login .container {
    background-color: #f8f8f8;
}

.login .container .con {
    padding-right: 14px;
    padding-left: 14px;
}

.login .container .con1 {
    padding-top: 20px;
}

.login .container .con1 .inputWrap {
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.login .container .con1 .email {
    margin-bottom: 8px;
}

.login .container .con1 .password {
    position: relative;
}

.login .container .con1 .password a {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    color: #f06489;
    text-decoration: underline;
}

.login .container .con2 {
    margin-top: 14px;
    margin-bottom: 50px;
    color: #757575;
}

.login .container .con2 .flWrap .fl {
    margin-right: 20px;
}

.login .container .con3 {
    padding-top: 15px;
    padding-bottom: 30px;
}

.login .container .con3 .fl {
    color: #757575;
}

.login .container .con3 span.fl {
    padding: 0 5px;
}

.searchEmail .container {
    background-color: #f8f8f8;
}

.searchEmail .container .con .tx1 {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1.1em;
    font-weight: bold;
}

.searchEmail .container .con .tx2 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.searchEmail .container .con1 {
    padding-bottom: 40px;
}

.searchEmail .container .con1 .flWrap {
    margin-top: 20px;
}

.searchEmail .container .con1 .flWrap .fl {
    width: 100%;
    background-color: #fff;
}

.searchEmail .container .con1 .flWrap .fl label {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 1px solid #ddd;
}

.searchEmail .container .con1 .flWrap .fl:nth-child(1) label {
    border-top: 1px solid #ddd;
}

.searchEmail .container .con1 .flWrap .fl label::before {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translate(0, -50%);
}

.searchEmail .container .con1 .flWrap .fl label>div {
    margin-left: 50px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: 0 center;
    color: #757575;
}

.searchEmail .container .con1 .flWrap .fl:nth-child(1) label>div {
    background-image: url(../images/icon_6.png);
    background-size: 14px;
}

.searchEmail .container .con1 .flWrap .fl:nth-child(2) label>div {
    background-image: url(../images/icon_7.png);
    background-size: 25px;
}

.searchEmail .container .con1 .flWrap .fl label>div span {
    display: block;
}

.searchEmail .container .con1 .flWrap .fl label>div span:nth-child(1) {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.searchEmail .container .bottom_btnWrap {
    margin-top: 50px;
}

.stamp .container {
    padding-bottom: 50px;
    background-color: #f8f8f8;
}

.stamp .container .con1 {
    padding-left: 14px;
    padding-right: 14px;
}

.stamp .container .con1 .tx1 {
    margin-bottom: 15px;
}

.stamp .container .con1 .tx1>.fl {
    font-size: 1.25em;
    font-weight: bold;
}

.stamp .container .con1 .tx1>.fr span {
    font-size: 1.3em;
    font-weight: bold;
    color: #f06489;
}

.stamp .container .con1 .tx1>.fr img {
    width: 16px;
    margin-left: 10px;
}

.stamp .container .con1 .tx2 {
    line-height: 20px;
    font-size: 0.9em;
}

.stamp .container .con1 .tx2 span {
    color: #f06489;
    font-weight: bold;
}

.stamp .container .con2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.stamp .container .con2 img {
    width: 13%;
    margin: 5px 0.95%;
}

.stamp .container .con3 {
    padding-left: 14px;
    padding-right: 14px;
}

.stamp .container .con3 .tx1 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.stamp .container .con3 .tx2 {
    font-size: 0.9em;
    color: #757575;
    line-height: 20px;
}

.coupon .container .con0 {
    margin-bottom: 0;
}

.coupon .container .con1 a {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    color: #757575;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.coupon .container .con1 a:nth-child(1) {
    border-right: 1px solid #ddd;
}

.coupon .container .con1 a.on {
    color: #f06489;
    font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.coupon .container .con2 {
    border-bottom: 1px solid #ddd;
}

.coupon .container .con2 .fl {
    width: 50%;
    text-align: center;
}

.coupon .container .con2 .fl label {
    width: 100%;
    padding: 20px 0;
}

.coupon .container .con3 .flWrap {
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 1px solid #ddd;
}

.coupon .container .con3 .fl {
    width: 50%;
    padding: 16px 0;
    text-align: center;
}

.coupon .container .con3 .fl img {
    max-width: 142px;
}

.coupon .container .con4 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 14px;
    padding-left: 14px;
}

.coupon .container .con4 .tx1 {
    color: #757575;
    font-size: 0.9em;
    line-height: 20px;
}

.coupon .container .bottom_btnWrap {
    margin-top: 20px;
    padding-top: 30px;
    position: relative;
    border-top: 1px solid #ddd;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, .2)
}

.coupon .container .bottom_btnWrap i {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    color: #f06489;
}

.coupon_2 .container .bottom_btnWrap,
.coupon_3 .container .bottom_btnWrap {
    padding-top: 0;
    box-shadow: none;
    border-top: none;
}

.coupon_3 .container .con1 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 14px;
    padding-right: 14px;
}

.coupon_3 .container .con1 .tx1 {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

.coupon_3 .container .con1 .fl {
    width: 50%;
    padding: 10px 0;
}

.coupon_3 .container .con2 {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 14px;
    padding-right: 14px;
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.coupon_3 .container .con2 .tx1 {
    line-height: 20px;
    font-size: 0.9em;
    color: #757575;
}

.coupon_3 .container .con2 .tx1:nth-child(3) {
    margin-top: 10px;
}

.coupon_4 .container .con1 .fl{
    width: 100%;
    border: 1px solid #f06489;
}
.coupon_4 .container .con1 .fl input{
    padding: 0 14px;
}