@charset "utf-8";
@import url("reset.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
html,body{
	max-width:640px;
	height:100%;
	margin:0 auto;
	font:14px "나눔고딕",nanumgothic,Arial,sans-serif;
}
a{
	display:block;
	text-decoration:none;
	color:#333;
}
img{
	width:100%;
}
button{
	padding:0;
	background:none;
	border:none;
	cursor:pointer;
}
select{
	width:100%;
	background:none;
	border:none;
}
input{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:1px solid #ccc;
}



.wrapper{
	max-width:640px;
	margin:0 auto;
	padding:0 15px;

	overflow:hidden;
}
.wrapper.toggle{
	overflow:hidden;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
header,
.page_all-review_header,
.cover .header{
	max-width:640px;
	width:100%;
	padding:0 15px;
	position:fixed;
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:99;
	overflow:hidden;
	background-color:#fff;
	-webkit-box-shadow:0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 3px 3px rgba(0,0,0,0.2);
	box-shadow:0px 3px 3px rgba(0,0,0,0.2);
}
header .logo,
.header .logo{
	float:left;
}
header .logo a,
.header .logo a{
	width:63px;
	line-height:50px;
}
header .logo a img,
.header .logo a img{
	vertical-align:middle;
}
header .btn_nav_open,
header .btn_close,
.header .btn_nav_open,
.header .btn_close{
	float:right;
}
header .btn_nav_open .iconBtn,
header .btn_close .iconBtn,
.header .btn_nav_open .iconBtn,
.header .btn_close .iconBtn{
	width:24px;
	height:50px;
	position:relative;
}
header .btn_nav_open .iconBtn i,
header .btn_close .iconBtn i,
.header .btn_nav_open .iconBtn i,
.header .btn_close .iconBtn i{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	color:#6666cc;
}
.container{
	margin-top:50px;
}
footer{
	margin:0 -15px;
	padding:0 15px 20px;
	text-align:center;
	background-color:#333;
	color:#fff;
}
footer .btn_wrap{
	margin:0 -15px;
	padding:20px 15px;
	background-color:#6666cc;
}
footer .btn_wrap .btn{
	border:1px solid #fff;
}
footer .socialWrap{
	padding-top:20px;
	padding-bottom:20px;
}
footer .socialWrap li{
	margin-right:5%;
	display:inline-block;
}
footer .socialWrap li:last-child{
	margin-right:0;
}
footer .socialWrap li a{
	width:30px;
	height:30px;
	position:relative;
	background-color:#fff;
	border-radius:100%;
}
footer .socialWrap li a i{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
footer .logo{

}
footer .logo a{
	width:63px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}
.nav,
.cover{
	max-width:640px;
	height:0;
	margin:0 auto;
	opacity:0;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1000;
	color:#fff;
	overflow:hidden;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
}
.nav{
	overflow-Y:auto;
	z-index:1001 !important;
	background-color:#6666cc;
}
.nav.toggle{
	height:100%;
	opacity:0.95;
}
.cover{
	background:#6666cc;
	background:-webkit-linear-gradient(#96a6da, #6666cc);
	background:-o-linear-gradient(#96a6da, #6666cc);
	background:-moz-linear-gradient(#96a6da, #6666cc);
	background:linear-gradient(#96a6da, #6666cc);
}
.cover.toggle{
	height:100%;
	opacity:1;
}
.nav a,
.cover a{
	color:#fff;
}
.nav header,
.cover .header{
	position:absolute;
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.nav header .btn_close a i,
.cover .header .btn_nav_open a i{
	color:#fff;
}
.nav .container{
	padding:35px 0;
}
.nav.toggle .container{
}
.nav .container > ul{
	width:70%;
	margin:0 auto;
	padding-bottom:30px;
}
.nav .container > ul > li a{
	max-height:48px;
	padding:13px 0;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
.nav .container > ul > li ul{
	padding-left:20px;
}
.nav .container > ul > li ul li a{
	font-weight:normal;
}
.nav .container > ul .search_box{
	margin-bottom:10px;
	padding:10px 0;
	overflow:hidden;
	border-bottom:1px solid #fff;
}
.nav .container > ul .search_box input{
	background:none;
	border:none;
	font-size:16px;
	color:#fff;
}
.nav .container > ul .search_box input:focus{
	outline:none;
}
.nav .container > ul .search_box i{
	height:20px;
	float:right;
	cursor:pointer;
	color:#fff;
}
.nav .container > ul .btn_category{
	height:45px;
	overflow:hidden;
}
.nav .container > ul .btn_category.toggle{
	height:270px;
}
.nav .container > ul .btn_category a i{
	font-size:14px;
}
.nav .container > ul .btn_category a .fa-chevron-up{
	display:none;
}
.nav .container > ul .btn_category.toggle a .fa-chevron-up{
	display:block;
}
.nav .container > ul .btn_category.toggle a .fa-chevron-down{
	display:none;
}
.nav .btn_wrap{
	padding-top:30px;
	border-top:1px solid #fff;
}
.nav .btn_wrap .btn{
	border-color:#fff;
}
.cover .swiper-pagination{
	width:100%;
	bottom:0;
}
.cover .swiper-pagination .swiper-pagination-bullet-active{
	background-color:#fff;
}
.cover .container{
	text-align:center;
}
.cover .container .con1{
	padding-bottom:40px;
	position:absolute;
	top:50%;
	right:0;
	left:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.cover .container .con1 .cover_visual{

}
.cover .container .con1 .cover_visual b{
	padding-bottom:10px;
	display:block;
	font-size:48px;
	font-weight:bold;
}
.cover .container .con1 .cover_visual .img_wrap{
	height:200px;
	background:url("../images/cover/img1.png") center center no-repeat;
}
.cover .container .con2 .btn_cover_close{
	text-align:center;
	position:absolute;
	bottom:0;
	right:0;
	left:0;
}
.cover .container .con2 .btn_cover_close a{
	padding:30px 0;
	font-size:30px;
}


.swiper-pagination-bullet{
	margin:0 5px;
}
.swiper-pagination-bullet-active{
	background:#6666cc;
}
.fa{
	width:24px;
	height:24px;
	position:relative;
}
.fa:before{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
i.pos:before{
	position:initial;
}
.tit_1 > a{
	width:100%;
	padding:15px 0;
	overflow:hidden;
	color:#6666cc;
}
.tit_1 > a span{
	float:left;
	font-size:16px;
	font-weight:bold;
}
.tit_1 > a .fa{
	height:19px;
	float:right;
}
.item_1{
	position:relative;
}
.item_1 a .num{
	position:absolute;
	top:5px;
	left:5px;
	z-index:98;
	text-align:center;
}
.item_1 a .num li:nth-child(1){
	font-size:48px;
	font-weight:bold;
}
.item_1 a .num li:nth-child(2){

}
.item_1 a .num li:nth-child(2) i{
	font-size:18px;
}
.item_1 a .num li:nth-child(2) i.fa-caret-up{
	color:#97a8da;
}
.item_1 a .num li:nth-child(2) i.fa-caret-down{
	color:#ccc;
}
.item_1 a .num li:nth-child(2) i:before{
	position:initial;
}
.item_1 a .tit_2{
	text-align:center;
}
.item_1 a .tit_2 dt,
.item_2 a .tit_2 dt{
	padding-bottom:10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.item_1 a .tit_2 dd,
.item_2 a .tit_2 dd{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-size:16px;
	font-weight:bold;
	line-height:22px;
}
.item_1 a .vote,
.item_2 a .vote{
	padding-top:10px;
	color:#666;
}
.item_1 a .vote li,
.item_2 a .vote li{
	margin-right:20px;
	display:inline-block;
}
.item_1 a .vote li:last-child,
.item_2 a .vote li:last-child{
	margin-right:0;
}
.item_1 a img,
.item_2 a img{
	border:1px solid #ccc;
}
.item_1 .swiper-pagination{
	width:100%;
	bottom:20px;
	text-align:center;
}
.item_2_wrap > li{
	padding:20px 0;
	border-bottom:1px solid #ccc;
}
.item_2_wrap > li:last-child{
	border-bottom:none;
}
.item_2{

}
.item_2 a{

}
.item_2 a > ul{
	width:100%;
	display:table;
}
.item_2 a > ul > li{
	display:table-cell;
	vertical-align:middle;
}
.item_2 a > ul > li:nth-child(1){
	width:30%;
}
.item_2 a > ul > li:nth-child(2){
	width:70%;
	padding-left:5%;
}
.review_1{
	padding:15px 0;
	position:relative;
}
.review_1 > a{
	position:relative;
}
.review_1 .skills{
	padding-bottom:10px;
	overflow:hidden;
}
.review_1 .skills li{
	margin-right:5px;
	padding-right:5px;
	float:left;
	border-right:1px solid #ccc;
}
.review_1 .skills li:last-child{
	border-right:none;
}
.review_1 .skills li b{
	color:#6666cc;
	font-weight:bold;
}
.review_1 .user{
padding-bottom:10px;
	font-weight:bold;
}
.review_1 .user i{
	height:10px;
	font-weight:bold;
}
.review_1 .cmt_wrap{
	height:70px;
	position:relative;
	overflow:hidden;
}
.review_1 .cmt_wrap.toggle{
	height:100%;
}
.review_1 .cmt_wrap .cmt{
	padding-right:24px;
	line-height:22px;
}
.review_1 .cmt_wrap span{
	position:absolute;
	bottom:0;
	right:0;
}
.review_1 .cmt_wrap span .fa-chevron-up{
	display:none;
}
.review_1 .cmt_wrap.toggle span .fa-chevron-up{
	display:block;
}
.review_1 .cmt_wrap.toggle span .fa-chevron-down{
	display:none;
}
.review_1 .date{
	display:inline-block;
	padding-top:30px;
	padding-bottom:10px;
	color:#737373;
}
.review_1 .thumb_wrap{
	position:absolute;
	bottom:0;
	right:0;
	overflow:hidden;
}
.review_1 .thumb_wrap li{
	margin-right:20px;
	float:left;
	overflow:hidden;
}
.review_1 .thumb_wrap li:last-child{
	margin-right:5px;
}
.review_1 .thumb_wrap li div{
	float:left;
	line-height:35px;
}
.con_list{
	text-align:center;
}
.con_list > ul{

}
.con_list > ul > li{
	padding-bottom:20px;
}
.con_list > ul > li:last-child{
	padding-bottom:0;
}
.con_list > ul > li > a{
	padding-top:30px;
	position:relative;
}
.con_list > ul > li > a .date{
	width:100%;
	position:absolute;
	top:0;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:98;
}
.con_list > ul > li > a img{
	width:80%;
	margin-bottom:30px;
	-webkit-box-shadow:0px 16px 36px rgba(0,0,0,0.12);
	-moz-box-shadow:0px 16px 36px rgba(0,0,0,0.12);
	box-shadow:0px 16px 36px rgba(0,0,0,0.12);
}
.con_list > ul > li > a dl{
}
.con_list > ul > li > a dl dt{
	font-size:18px;
	font-weight:bold;
	line-height:24px;
}
.con_list > ul > li > a dl dd{
	padding:10px 0 20px;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}
.con_list > ul > li a .date dl{

}
.con_list > ul > li a .date dl dt{
	font-size:48px;
	line-height:1;
}
.con_list > ul > li a .date dl dd{
	font-size:16px;
	line-height:1;
}
.lnb{
	position:relative;
	background-color:#f4f4f4;
}
.lnb ul{
	width:100%;
	display:table;
}
.lnb ul li{
	width:50%;
	height:50px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.lnb .swiper-pagination{
	width:100%;
	display:table;
	bottom:0;
}
.lnb .swiper-pagination .swiper-pagination-bullet{
	height:50px;
	display:table-cell;
	background:none;
	border-radius:0;
	border-bottom:none;
}
.lnb .swiper-pagination .swiper-pagination-bullet-active{
	border-bottom:3px solid #000;
}
.form_1{

}
.form_1 > ul > li{
	margin-top:15px;
}
.form_1 > ul > li p{
	color:#999;
	line-height:22px;
}
.form_1 > ul > li span{
	color:#6666cc;
}
.form_1 > ul > li > input{
	width:100%;
	padding:11px;
	border:1px solid #ccc;
}
.form_1 > ul > li > input:focus{
	outline:none;
}
.form_1 > ul > li.check_wrap{
	overflow:hidden;
}
.form_1 > ul > li.check_wrap div{
	width:48%;
	float:left;
}
.form_1 > ul > li.check_wrap div:last-child{
	margin-left:4%;
}
.form_1 > ul > li.check_wrap div label{
	width:100%;
	padding:5px;
	display:table;
	border:1px solid #ccc;
}
.form_1 > ul > li.check_wrap div label input{
	width:20px;
	height:20px;
	display:table-cell;
	vertical-align:middle;
}
.form_1 > ul > li.check_wrap div label p{
	display:table-cell;
	vertical-align:middle;
	color:#333;
}
.form_1 > ul > li.agree{
	text-align:center;
}
.form_1 > ul > li.agree a{
	display:inline-block;
	color:#6666cc;
	text-decoration:underline;
}
.form_1 > ul > li.agree p{
	display:inline-block;
}
.form_1 .btn_wrap{
	padding:30px 0;
}
.form_1 .btn_wrap .btn{
	width:100%;
}
.thumb{
	width:35px;
	height:35px;
	margin-right:10px;
	position:relative;
	background-color:#ccc;
	border-radius:100%;
}
.thumb.on{
	background: #6666cc;
	background: -webkit-linear-gradient(#6666cc, #99a8db);
	background: -o-linear-gradient(#6666cc, #99a8db);
	background: -moz-linear-gradient(#6666cc, #99a8db);
	background: linear-gradient(#6666cc, #99a8db);
}
.thumb i{
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	color:#fff;
	font-size:18px;
}
.btn_wrap{
	overflow:hidden;
	text-align:center;
	font-size:0;
}
.btn{
	width:100px;
	height:38px;
	margin-right:20px;
	display:inline-block;
	border-radius:20px;
	background-color:#6666cc;
	line-height:38px;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.btn:last-child{
	margin-right:0;
}
.btn_bgn{
	background:none;
	border:1px solid #ccc;
	color:#333;
}
.btn_bgn.follow:after{
	content:"랭킹 팔로잉";
}
.btn_bgn.follow.toggle{
	border:1px solid #6666cc;
	color:#6666cc;
}
.btn_bgn.follow.toggle:after{
	content:"팔로잉 취소";
}
.btn_bgnbdn.bookmark.toggle{
	color:#6666cc;
}
.btn_bgnbdn{
	padding-left:30px;
	background:none;
	border:none;
	color:#666;
	text-align:left;
}
.btn_wrap .btn{
	position:relative;
}
.btn_wrap .btn i.material-icons{
	position:absolute;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
.select_wrap{
	padding-right:30px;
	position:relative;
}
.select_wrap span{
	display:block;
}
.select_wrap select{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	z-index:2;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
.select_wrap i{
	position:absolute;
	top:50%;
	right:0;
	z-index:1;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}
