body{
  position: relative;
}
.container .con1 .tab_link{
padding: 30px 0;
}
.container .con1 .tab_link ul{
  overflow: hidden;
  text-align: center;
}
.container .con1 .tab_link ul li{
  margin: 0 10px;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
}
.container .con1 .tab_link ul li.on{
  background: #6fb0e0;
}
.container .con1 .tab_link ul li.on a{
  color: #fff;
}
.container .con1 .tab_link ul li a{
  padding: 10px 20px;
}
.myinfo .container .con1 .mypoint{
  margin-bottom: 20px;
  padding: 20px 0 0;
  background: #fff;
}
.myinfo .container .con1 .mypoint .mypoint_top{
  padding: 10px 15px;
  font-size: 20px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.myinfo .container .con1 .mypoint .mypoint_top span{
  float: right;
  color: #666;
}
.myinfo .container .con1 .mypoint .point_current{
  padding: 30px 0;
  text-align: center;
  font-size: 36px;
  color: #6fb0e0;
  font-weight: bold;
}
.myinfo .container .con1 .mypoint .point_current span{
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #6fb0e0;
  color: #fff;
}
.myinfo .container .con1 .mypoint .add_point{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.myinfo .container .con1 .mypoint .add_point ul{
  overflow: hidden;
}
.myinfo .container .con1 .mypoint .add_point ul li{
  width: 50%;
  padding: 20px 0;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
}
.myinfo .container .con1 .mypoint .add_point ul li:last-child{
  border: none;
}
.myinfo .container .con1 .mypoint .add_point ul li p{
  padding-bottom: 20px;
}
.myinfo .container .con1 .mypoint .add_point ul li span{
  display: inline-block;
  color: #6fb0e0;
  font-weight: bold;
  font-size: 24px;
}
.myinfo .container .con2 .myinfo_form fieldset input[type="submit"]{
  width: 100%;
  height: 40px;
  margin-top: 30px;
  padding: 0;
  line-height: 40px;
  background: #6fb0e0;
  color: #fff;
}
.order_rantal .con2{
  padding-bottom: 30px;
}
.order_rantal .rantal_item_wrap .item{
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.order_rantal .rantal_item_wrap .item:first-child{
  border-top: 1px solid #ccc;
}
.order_rantal .rantal_item_wrap .item ul{
  overflow: hidden;
}
.order_rantal .rantal_item_wrap .item ul li{
  float: left;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(1){
  width: 25%;
  border: 1px solid #ccc;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(2){
  width: 50%;
  padding: 5px;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(2) div{
  padding-bottom: 10px;
  color: #555;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(2) div span{
  font-weight: bold;
  color: #333;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(3){
  width: 25%;
  text-align: right;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(3) div{
  margin: 7px 0;
  padding: 5px 0;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
}
.order_rantal .rantal_item_wrap .item ul li:nth-child(3) div:first-child{
  border: none;
  background: none;
  color: #666;
}
.mycart .cart_item_wrap{
}
.mycart .cart_item_wrap .item{
  margin-bottom: 20px;
  padding: 10px 10px;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.mycart .cart_item_wrap .item .imgWrap{
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
}
.mycart .cart_item_wrap .item .imgWrap img{
  width: 100px;
  margin-right: 10px;
  float: left;
  border: 1px solid #eee;
}
.mycart .cart_item_wrap .item .imgWrap p{
  line-height: 20px;
}
.mycart .cart_item_wrap .item .imgWrap span{
  position: absolute;
  bottom: 10px;
  right: 0;
}
.mycart .cart_item_wrap .item .useCouponWrap{
  padding: 10px 0;
}
.mycart .cart_item_wrap .item .useCouponWrap.bdt{
  border-top: 1px solid #eee;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset input[type="checkbox"]{
  width: 20px;
  height: 20px;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  position: absolute;
  top: 10px;
  left: 0;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset p.product_tx{
  width: 250px;
  float: left;
  line-height: 20px;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset p.product_tx2{
  float: left;
  line-height: 20px;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset .btn_coupon{
  margin-left: 10px;
  padding: 5px 10px;
  float: left;
  border: 1px solid red;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset .btn_coupon a{
  color: red;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset span{
  float: right;
}
.mycart .cart_item_wrap .item .useCouponWrap fieldset span.red{
  color: red;
}
.mycart .allCheck_wrap{
  padding: 0 10px;
}
.mycart .allCheck_wrap input{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  float: left;
}
.mycart .allCheck_wrap .product_tx{
  float: left;
}
.mycart .allCheck_wrap span{
  float: right;
}
.mycart .txSub{
  padding: 20px 10px;
}
.mycart .txSub p{
  margin-bottom: 10px;
  line-height: 20px;
}
.mycart .buy_wrap{
  overflow: hidden;
  border-top: 1px solid #eee;
  background: #fff;
}
.mycart .buy_wrap ul {
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mycart .buy_wrap ul li{
  float: left;
}
.mycart .buy_wrap ul li:last-child{
  background: #6fb0e0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.mycart .buy_wrap ul li:last-child a{
  padding: 30px 20px;
  color: #fff;
  font-size: 20px;
}
.mycart .buy_wrap ul li span{
  margin-left: 10px;
  display: block;
}
.mycart .buy_wrap ul li span:first-child{
  font-size: 26px;
}
.mycart .buy_wrap ul li span:last-child{
  margin-top: 10px;
  color: #666;
}
.mycart .buy_wrap ul li span:last-child b{
  color: #6fb0e0;
}
.con_busticket .item .item_main p {
    margin-bottom: 10px;
    color: #444;
}
.con_busticket .item .item_sub {
  padding: 15px 0;
  background: #fff;
  border-top: 2px dotted #ccc;
}
.con_busticket .item .item_sub p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #6fb0e0;
}
.myinfo .container .con2{
  padding-bottom: 30px;
}
.myinfo_form .title{
  padding: 20px 10px 10px;
  color: #333;
}
.myinfo_form .useinfo{
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.myinfo_form fieldset{
  padding: 5px 10px;
  overflow: hidden;
}
.myinfo_form fieldset label{
  width: 30%;
  float: left;
  line-height: 32px;
  color: #666;
}
.myinfo_form fieldset input{
  width: 70%;
  height: 32px;
  padding-left: 10px;
  line-height: 32px;
  background: #fff;
  border: 1px solid #ccc;
  float: right;
}
.buypage p.title{
  font-size: 16px;
}
.buypage .myinfo_form fieldset label{
  width: 20%;
}
.buypage .myinfo_form fieldset input{
  width: 80%;
}
.buypage .myinfo_form fieldset input.mt10{
  margin-top: 10px;
}
.buypage .order_pro .title{
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.buypage .order_pro .item{
  border-top: 1px solid #eee;
}
.buypage .order_pro .item .imgWrap{
  padding: 20px 10px;
  overflow: hidden;
  position: relative;
}
.buypage .order_pro .item .imgWrap img{
  width: 100px;
  margin-right: 10px;
  float: left;
  border: 1px solid #eee;
}
.buypage .order_pro .item .imgWrap p{
  line-height: 20px;
}
.buypage .order_pro .item .imgWrap span{
  position: absolute;
  bottom: 20px;
  right: 0;
  color: #666;
}
.buypage .order_pro .item .tx_1{
  padding: 20px 10px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: relative;
}
.buypage .order_pro .item .tx_1 p{
  float: left;
}
.buypage .order_pro .item .tx_1 span{
  float: right;
}
.buypage .order_pro .item .tx_1 span.red{
  color: red;
}
.buypage .order_pro .item .tx_1 .use_coupon{
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
}
.buypage .order_pro .item .tx_1 .use_coupon a{
  padding: 10px 20px;
  color: red;
}
.buypage .total_pay .pay_1{
  padding: 5px 10px;
  overflow: hidden;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}
.buypage .total_pay .pay_1.cgray{
  background: #ccc;
  color: #fff;
  font-weight: bold;
}
.buypage .total_pay .pay_1 p{
  float: left;
}
.buypage .total_pay .pay_1 span{
  float: right;
}
.buypage .total_pay .pay_1 span.fwb{
  font-weight: bold;
}
.buypage .total_pay .pay_1 span.cblue{
  color: skyblue;
  font-weight: bold;
}
.buypage .total_pay .pay_1 input{
  width: 100px;
  padding-left: 10px;
  border: 1px solid #ccc;
  float: right;
}
.buypage .btn_payWrap input{
  margin-bottom: 10px;
  background: #6fb0e0;
  color: #fff;
}
.buypage .btn_payWrap a{
  height: 40px;
  margin-bottom: 20px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #eee;
  text-align: center;
}
.buypage .pay_way{

}
.buypage .pay_way > input[type="radio"]{
  display: none;
}
.buypage .pay_way > input[type="radio"] + div{
  display: none;
}
.buypage .pay_way > input[type="radio"]:checked + div{
  display: block;
}
.buypage .pay_way .tab_wrap{
  overflow: hidden;
}
.buypage .pay_way .tab_wrap label{
  width: 50%;
  padding: 15px 0;
  float: left;
  text-align: center;
}
.buypage .pay_way .cardBox{
  overflow: hidden;
  background: #fff;
}
.buypage .pay_way .cardBox .top_bar{
  width: 50%;
  height: 2px;
  background: #6fb0e0;
  display: block;
  float: left;
}
.buypage .pay_way .cardBox .select_way{
  width: 100%;
  float: left;
  display: block;
  overflow: hidden;
  text-align: center;
}
.buypage .pay_way .cardBox .select_way .item{
  margin: 20px 20px;
  display: inline-block;
}
.buypage .pay_way .cardBox input[type="radio"]{
  display: none;
}
.buypage .pay_way .cardBox label{
  display: inline-block;
  border: 1px solid #fff;
}
.buypage .pay_way .cardBox input[type="radio"]:checked + label{
  border: 1px solid #6fb0e0;
}
.buypage .pay_way .bankBox{
  overflow: hidden;
  background: #fff;
}
.buypage .pay_way .bankBox .top_bar{
  width: 50%;
  height: 2px;
  background: #6fb0e0;
  display: block;
  float: right;
}
.buypage .pay_way .bankBox .select_way{
  width: 100%;
  float: left;
  display: block;
}
.buypage .pay_way .bankBox .select_way{
  padding: 50px 0;
  text-align: center;
}
.buypage .pay_way .bankBox .select_way p{
  padding-bottom: 20px;
}
.wifi_reser .input_text1 {
  padding: 0 15px;
  margin-bottom: 30px;
}
.wifi_reser .input_text1 input{
  padding-left: 10px;
  background: #fff;
  border: 1px solid #ccc;
}
.wifi_reser .con_select.pl select{
  padding-left: 10px;
}
.wifi_reser .tab__wrap .tab_btnWrap{
  overflow: hidden;
}
.wifi_reser .tab__wrap .tab_btnWrap ul li{
  width: 25%;
  float: left;
  text-align: center;
}
.wifi_reser .tab__wrap .tab_btnWrap ul li label{
  padding: 15px 0;
  display: block;
}
.wifi_reser .tab__wrap > input[type="radio"]{
  display: none;
}
.wifi_reser .tab__wrap > input[type="radio"]:checked + .wifi_togle{
  display: block;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle{
  padding-top: 2px;
  display: none;
  position: relative;
  background: #fff;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle .top_bar{
  width: 25%;
  height: 2px;
  background: #6fb0e0;
  position: absolute;
  top: 0;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle .top_bar1{
  left: 0;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle .top_bar2{
  left: 25%;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle .top_bar3{
  left: 50%;
}
.wifi_reser .tab__wrap > input[type="radio"] + .wifi_togle .top_bar4{
  left: 75%;
}
.coupon_wrap{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.coupon_wrap.on{
  display: block;
}
.coupon_wrap .couponBg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 4;
}
.coupon_wrap .coupon_item{
  width: 80%;
  max-width: 400px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 5;
}
.coupon_wrap .coupon_item .title{
  padding: 15px 10px;
  border-bottom: 1px solid #666;
}
.coupon_wrap .coupon_item .tx1{
  padding: 15px 10px;
  border-bottom: 1px dotted #666;
}
.coupon_wrap .coupon_item .tx2{
  padding: 15px 10px;
  overflow: hidden;
  position: relative;
}
.coupon_wrap .coupon_item .tx2 p{
  font-size: 20px;
  float: left;
}
.coupon_wrap .coupon_item .tx2 b{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 30px;
}
.coupon_wrap .coupon_item .tx2 span{
  float: right;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.coupon_wrap .coupon_item fieldset{
  overflow: hidden;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
.coupon_wrap .coupon_item fieldset input[type="radio"]{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
  float: left;
}
.coupon_wrap .coupon_item fieldset label{
  float: left;
}
.coupon_wrap .coupon_item fieldset label b{
  color: red;
}
.coupon_wrap .coupon_item .btn_couWrap {
  margin: 20px 0;
}
.coupon_wrap .coupon_item .btn_couWrap input{
  width: 90%;
  margin: 0 auto;
  background: #6fb0e0;
  color: #fff;
}
.coupon_wrap .coupon_item .btn_couWrap a{
  width: 90%;
  height: 40px;
  margin: 20px auto 0;
  margin-top: 20px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
}
