@charset "utf-8";
@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 14px;
    color: #333;
    overflow-x: hidden;
    word-break: keep-all;
}

a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    vertical-align: top;
}

input[type='text'],
input[type='number'],
input[type='password'],
select {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    border: 1px solid #333;
    box-sizing: border-box;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #333;
    box-sizing: border-box;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

textarea::placeholder,
input::placeholder {
    color: #9b9b9b;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
}

input[type='checkbox']+label,
input[type='radio']+label {
    position: relative;
    display: flex;
    align-items: center;
}

input[type='checkbox']+label::before,
input[type='radio']+label::before {
    display: inline-block;
}

input[type='checkbox']+label::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #979797;
    background-color: #fff;
    background-image: url(../img/arrow_10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 8px;
    box-sizing: border-box;
}

input[type='checkbox']:checked+label::before {
    background-image: url(../img/arrow_06.png);
}

input[type='radio']+label::before {
    content: "\f111";
}

input[type='radio']:checked+label::before {
    content: "\f058";
}

select {
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: inline-block;
}

.select select {
    background-image: url(../img/arrow_06.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 8px;
}

.clb::after {
    content: "";
    clear: both;
    display: block;
}

.clb .fll {
    float: left;
}

.clb .flr {
    float: right;
}

.df {
    display: flex;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.fz50 {
    font-size: 50px;
}

.fz42 {
    font-size: 42px;
}

.fz33 {
    font-size: 33px;
}

.fz24 {
    font-size: 24px;
}

.fz20 {
    font-size: 20px;
}

.fz18 {
    font-size: 18px;
}

.fz17 {
    font-size: 17px;
}

.fz16 {
    font-size: 16px;
}

.fz15 {
    font-size: 15px;
}

.wrap-1200 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap-480 {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

.header-top {
    padding: 20px 0;
    position: relative;
}

.header-top .poa {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: left;
}

.header-top .btn-menu-open {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.header-top .btn-menu-open span {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
}

.header-top .btn-menu-open span:nth-child(1) {
    top: 0;
}

.header-top .btn-menu-open span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.header-top .btn-menu-open span:nth-child(3) {
    bottom: 0;
}

.header-top .poa>a {
    margin-bottom: 4px;
    color: #614c3f;
    font-size: 15px;
}

.header-top .poa .fll {
    margin-right: 5px;
}

.header-top .poa .fll:last-child {
    margin-right: 0;
}

.header-bottom {
    background-color: #6e9e3a;
    position: relative;
}

.header-bottom:hover .drop-menu {
    display: block;
}

.header-bottom .menu>div {
    width: 20%;
    float: left;
    text-align: center;
}

.header-bottom .menu a {
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}

.header-bottom .drop-menu {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.header-bottom .drop-menu .depth01 {
    width: 20%;
    height: 200px;
    text-align: center;
    float: left;
    border-right: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.header-bottom .drop-menu .depth01:nth-child(1) {
    border-left: 1px solid #e2e2e2;
}

.header-bottom .drop-menu .depth01 a {
    line-height: 40px;
    display: inline-block;
}

.header-bottom .drop-menu .depth01>div:first-child {
    display: none;
}

.footer {
    background-color: #f8f8f8;
}

.footer-top {
    padding: 15px 0;
    border-top: 1px solid #eae5df;
    border-bottom: 1px solid #eae5df;
}

.footer-top>.clb>.fll>.fll {
    margin-right: 40px;
    font-size: 17px;
    color: #585858;
}

.footer-top>.clb>.flr>.fll {
    margin-left: 15px;
}

.footer-bottom {
    padding: 25px 0 50px;
}

.footer-bottom>.fll>.fll {
    padding-left: 30px;
    font-size: 15px;
    color: #585858;
    line-height: 24px;
}

.footer-bottom>.fll>.fll span {
    display: block;
    color: #999;
}

.footer-bottom>.flr {
    max-width: 430px;
    width: 100%;
    text-align: right;
}

.footer-bottom .flr>* {
    display: inline-block;
}

.footer-bottom .flr>span {
    margin: 2px 5px;
}

.footer-bottom a {
    color: #585858;
}

.footer-bottom .fz15 {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    float: none;
    color: #585858;
}

.main-visual {
    text-align: center;
    position: relative;
}

.main-visual .inner {
    padding-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.main-visual .inner .bar {
    width: 300px;
    height: 3px;
    margin: 0 auto 30px;
    background-color: #fff;
}

.main-visual .inner .fz50 {
    margin: 30px 0;
}

.main-visual .inner .fz17 {
    line-height: 30px;
}

.main-visual .inner .searchBox {
    margin-top: 120px;
    position: relative;
}

.main-visual .inner .searchBox input {
    height: 50px;
    line-height: 50px;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.main-visual .inner .searchBox input::placeholder {
    color: #fff;
}

.main-visual .inner .searchBox a {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
}

.main-con1 {
    margin-top: 50px;
    text-align: center;
}

.main-con1 .fll {
    width: 20%;
    padding: 20px 0;
    box-sizing: border-box;
    border-right: 1px dashed #d2d2d2;
    float: right;
}

.main-con1 .fll:last-child {
    border-right: none;
}

.main-con1 .fz17 {
    margin: 10px 0 5px;
    color: #777;
    line-height: 24px;
    letter-spacing: -1px;
}

.main-con1 .fz18 {
    color: #333;
    font-weight: 600;
}

.main-con1 .fz24 {
    font-weight: 600;
}

.title {
    margin-top: 60px;
    text-align: center;
    position: relative;
}

.title .fz33 {
    padding: 0 10px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    color: #333;
}

.title::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eae5df;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translate(0, -50%);
}

.main-con2 .fll {
    width: calc(33.333% - 30px/3);
    margin-right: 15px;
}

.main-con2 .clb {
    margin-top: 60px;
}

.main-con2 .fll:last-child {
    margin-right: 0;
}

.main-con2 .fll .tx-wrap {
    padding: 25px 20px;
    background-color: #eae5df;
}

.main-con2 .fll .fz17 {
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
}

.main-con2 .fll .fz16 {
    color: #777;
    line-height: 22px;
}

.main-con4 {
    margin-top: 60px;
    background-image: url(../img/bg-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-con4 .item {
    display: table-cell;
}

.main-con4 .item .fll {
    width: 50%;
    display: table-cell;
    float: none;
    vertical-align: top;
}

.main-con4 .item .fll:nth-child(1) {
    padding: 35px 50px;
    box-sizing: border-box;
    background-color: #eae5df;
}

.main-con4 .item .fll .fz18 {
    color: #97816f;
    font-weight: 600;
}

.main-con4 .item .fll .fz42 {
    margin: 20px 0 40px;
    font-weight: 600;
}

.main-con4 .item .fll .fz16 {
    color: #777;
    line-height: 26px;
}

.main-con4 .item .fll .fz16.fw600 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

.main-con4 .item .fll a {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #6e9e3a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.main-con4 .owl-carousel .owl-nav button.owl-next,
.main-con4 .owl-carousel .owl-nav button.owl-prev,
.main-con4 .owl-carousel button.owl-dot {
    padding: 10px 20px !important;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-con4 .owl-nav {
    position: static;
}

.main-con4 .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.main-con4 .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.main-con5 .con-title {
    margin-bottom: 20px;
    text-align: center;
}

.main-con5 .fll {
    padding: 40px 0;
}

.main-con5 .fll:nth-child(1) {
    width: calc(30% - 60px/3);
    margin-right: 30px;
}

.main-con5 .fll:nth-child(2),
.main-con5 .fll:nth-child(3) {
    width: calc(35% - 60px/3);
    margin-right: 30px;
}

.main-con5 .fll:last-child {
    margin-right: 0;
}

.main-con5 .fll .fz18 {
    margin: 10px 0;
    font-weight: 600;
}

.main-con5 .owl-carousel .owl-nav button.owl-next,
.main-con5 .owl-carousel .owl-nav button.owl-prev,
.main-con5 .owl-carousel button.owl-dot {
    padding: 10px 20px !important;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-con5 .owl-nav {
    position: static;
}

.main-con5 .owl-nav img {
    width: 10px;
}

.main-con5 .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(120%, -50%);
}

.main-con5 .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-120%, -50%);
}

.main-con5 .owl-carousel {
    max-width: 200px;
    margin: 0 auto;
}

.main-con5 .table {
    border-top: 1px solid #000;
}

.main-con5 table {
    width: 100%;
    table-layout: fixed;
}

.main-con5 .table td {
    padding: 12px 0;
}

.main-con5 .table td:nth-child(1) {
    width: 15%;
}

.main-con5 .table td:nth-child(2) {
    width: 85%;
}

.main-con5 .table td .new {
    margin-right: 10px;
    padding: 2px 3px;
    background-color: #cded7e;
    color: #97816f;
    border-radius: 4px;
    text-align: center;
}

.main-con5 .table td a {
    color: #97816f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-con5 .img-wrap img {
    width: 100%;
}

.m-visible {
    display: none;
}

@media only screen and (max-width:1200px) {
    .wrap-1200 {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .header-top {
        padding: 15px 20px;
    }

    .main-con1 .fll {
        width: 33.33333%;
        float: none;
        display: inline-block;
        border-right: none;
    }

    .main-con1 .fll:nth-child(1) {
        width: 100%;
    }

    .main-con2.wrap-1200 {
        padding: 0;
    }

    .main-con2 .fll {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .main-con2 .fll img {
        width: 100%;
    }

    .owl-carousel .owl-item .fll {
        vertical-align: middle;
    }

    .main-con5 .fll {
        max-width: 420px;
        float: none;
    }

    .main-con5 .fll:nth-child(1) {
        width: 100%;
        margin: 0 auto;
    }

    .main-con5 .fll:nth-child(2),
    .main-con5 .fll:nth-child(3) {

        width: 100%;
        margin: 0 auto;
    }

    .footer {
        text-align: center;
    }

    .footer-top>.clb>.fll {
        display: inline-block;
        float: none;
    }

    .footer-top>.clb>.fll>.fll {
        margin: 10px;
    }

    .footer-top>.clb>.flr {
        display: inline-block;
        float: none;
    }

    .footer-top>.clb>.flr>.fll {
        margin: 10px;
    }

    .footer-bottom {
        padding: 20px;
    }

    .footer-bottom>.fll {
        float: none;
    }

    .footer-bottom>.fll>.fll {
        padding: 10px 0;
        float: none;
    }

    .footer-bottom>.flr {
        max-width: 100%;
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .m-visible {
        display: block;
    }

    .header-bottom {
        max-width: 320px;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        overflow-y: auto;
        display: none;
    }

    .header-bottom.active {
        display: block;
    }

    .header-bottom .menu {
        display: none;
    }

    .header-bottom .drop-menu {
        padding-top: 50px;
        top: 0;
        display: block;
    }

    .header-bottom .drop-menu .depth01 {
        width: auto;
        height: auto;
        padding: 20px 0;
        float: none;
        border: none;
    }

    .header-bottom .drop-menu .depth01:nth-child(1) {
        border: none;
    }

    .header-bottom .drop-menu .depth01>div:first-child {
        font-size: 16px;
        font-weight: 600;
        display: block;
    }

    .btn-menu-close {
        width: 30px;
        height: 20px;
        position: absolute;
        top: 40px;
        left: 20px;
        cursor: pointer;
    }

    .btn-menu-close span {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #333;
    }

    .btn-menu-close span:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .btn-menu-close span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .main-visual video {
        display: none;
    }

    .main-visual img {
        width: 100%;
    }

    .main-visual .inner .fz50 {
        font-size: 36px;
    }

    .main-visual .inner .fz17 {
        font-size: 14px;
    }

    .main-visual .inner {
        padding: 100px 20px 0;
    }

    .main-con1 .fll {
        width: 48%;
    }

    .main-con4 .item .fll .fz42 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .owl-carousel .owl-item .fll {
        width: 100%;
        display: block;
    }

    .main-con4 .item .fll:nth-child(1) {
        padding: 30px 20px;
    }

    .main-con4 .wrap-1200 {
        padding: 0;
    }

    .main-con4 .owl-nav {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main-con4 .owl-next {
        position: relative;
        transform: translate(0, 0);
    }

    .main-con4 .owl-prev {
        position: relative;
        transform: translate(0, 0);
    }

    .main-con4 .owl-carousel .owl-nav button.owl-next,
    .main-con4 .owl-carousel .owl-nav button.owl-prev,
    .main-con4 .owl-carousel button.owl-dot {
        opacity: 0.8;
    }
}

@media only screen and (max-width:420px) {
    .main-con1 .fll {
        width: 100%;
    }
}