@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,400,700&subset=korean');

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans KR', sans-serif;
}

body .main {
    background-color: #f3f3f3;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

input,
select {
    font-family: 'Noto Sans KR', sans-serif;
}

img {
    width: 100%;
}

.TXTX {
    padding: 350px 0;
    font-size: 40px;
    color: #fa9797;
    text-align: center;
    line-height: 50px;
}

.m_visible {
    display: none;
}

.w1300 {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header .logo {
    margin-top: 21px;
    float: left;
}

.header .searchBox {
    width: 532px;
    height: 50px;
    float: left;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .searchBox input {
    width: 100%;
    height: 100%;
    padding: 0 100px 0 20px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.header .searchBox .btn_search {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/icon_search_b.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.header .top_right {
    margin-top: 32px;
    float: right;
    overflow: hidden;
}

.header .top_right a {
    height: 36px;
    padding: 0 22px;
    float: left;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.header .top_right a:nth-child(2) {
    border: 1px solid #57efee;
}

.sub .header {
    position: relative;
    background-color: #fff;
}

.sub .header .searchBox {
    background-color: #0ba29a;
}

.sub .header .top_right a {
    color: #000;
}

.sub .header .top_right a:nth-child(2) {
    border-color: #0ba29a;
}

.m_header {
    width: 100%;
    height: 100px;
    padding: 0 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.m_header .btn_search {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    float: left;
}

.m_header .logo {
    width: 171px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m_header .btn_menu {
    width: 30px;
    height: 30px;
    margin-top: 35px;
    float: right;
}

.sub .m_header {
    position: relative;
    background-color: #fff;
}

.footer {
    margin-top: 75px;
    padding: 40px 0;
    background-color: #333333;
    text-align: center;
}

.footer .tx1 {
    font-size: 30px;
    color: #fff;
}

.footer .tx2 {
    margin: 28px 0 15px;
    padding-left: 30px;
    display: inline-block;
    font-size: 14px;
    color: #6f6f6f;
    background-image: url(../images/icon_foot_5.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.footer ul li {
    margin-right: 20px;
    display: inline-block;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer ul li a {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer ul li:nth-child(1) a {
    background-image: url(../images/icon_foot_1.png);
}

.footer ul li:nth-child(2) a {
    background-image: url(../images/icon_foot_2.png);
}

.footer ul li:nth-child(3) a {
    background-image: url(../images/icon_foot_3.png);
}

.footer ul li:nth-child(4) a {
    background-image: url(../images/icon_foot_4.png);
}

.footer .tx3 {
    padding-top: 35px;
    font-size: 14px;
    color: #6f6f6f;
}

.right_sns {
    width: 100px;
    height: 456px;
    margin-left: 680px;
    position: fixed;
    left: 50%;
    top: 322px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .4);
}

.menuWrap {
    width: 78%;
    min-width: 320px;
    margin-right: -720px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    overflow-y: auto;
    transition: all .2s;
}

.wrapper.on .menuWrap {
    margin-right: 0;
}

.menuWrap .con1 {
    padding: 30px 0 50px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #d9d9d8;
}

.menuWrap .con1 .tx1 {
    font-weight: 500;
}

.menuWrap .con1 .tx2 {
    margin-top: 40px;
    font-weight: 300;
    line-height: 32px;
}

.menuWrap .con1 .bothWrap {
    margin-top: 50px;
}

.menuWrap .con1 .bothWrap a {
    width: 39%;
    max-width: 216px;
    height: 56px;
    margin-right: 10px;
    line-height: 56px;
    display: inline-block;
    color: #fff;
}

.menuWrap .con1 .bothWrap a:nth-child(1) {
    background-color: #43c2bb;
}

.menuWrap .con1 .bothWrap a:nth-child(2) {
    background-color: #535552;
    margin-right: 0;
}

.menuWrap .menuCon .drop {
    height: 70px;
    transition: all .2s;
    overflow: hidden;
}

.menuWrap .menuCon .drop.on {
    height: auto;
}

.menuWrap .menuCon .drop a {
    height: 70px;
    padding: 0 55px;
    line-height: 70px;
    font-size: 18px;
    color: #444341;
}

.menuWrap .menuCon .drop .depth1 {
    margin-left: 55px;
    padding-left: 70px;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.menuWrap .menuCon .drop:nth-child(1) .depth1 {
    background-image: url(../images/icon_lnb1_s.png);
}

.menuWrap .menuCon .drop:nth-child(2) .depth1 {
    background-image: url(../images/icon_lnb2_s.png);
}

.menuWrap .menuCon .drop:nth-child(3) .depth1 {
    background-image: url(../images/icon_lnb3_s.png);
}

.menuWrap .menuCon .drop:nth-child(4) .depth1 {
    background-image: url(../images/icon_lnb4_s.png);
}

.menuWrap .menuCon .drop:nth-child(5) .depth1 {
    background-image: url(../images/icon_lnb5_s.png);
}

.menuWrap .menuCon .down {
    overflow: hidden;
    border-bottom: 1px solid #d3d3d3;
}

.menuWrap .menuCon .depth2 {
    background-color: #ededed;
    border-bottom: 1px solid #d3d3d3;
    background-image: url(../images/icon_8.png);
    background-repeat: no-repeat;
    background-position: right 50px center;
}

.bg {
    margin-left: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .8);
    transition: all .2s;
    opacity: 0;
}

.wrapper.on .bg {
    margin-left: 0;
    opacity: 1;
}

.main .container .visual {
    height: 615px;
    background-image: url(../images/main_visual.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
}

.main .container .visual .txBox {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 0 25px rgba(0, 0, 0, .8);
}

.main .container .visual .txBox p:nth-child(1) {
    font-size: 80px;
    font-weight: 600;
}

.main .container .visual .txBox p:nth-child(2) {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 6px;
}

.main .container .visual .btn_link {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, .4);
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    position: absolute;
    right: 15px;
    bottom: 15%;
    background-image: url(../images/icon_6.png);
    background-position: right 30px bottom 20px;
    background-repeat: no-repeat;
}

.main .container .lnb_inner {
    height: 90px;
    position: relative;
}

.main .container .lnb {
    width: 100%;
    overflow: visible;
    position: absolute;
    top: -70px;
    z-index: 1000;
}

.main .container .lnb .left_banner {
    width: 203px;
    height: 640px;
    margin-right: 680px;
    position: absolute;
    top: 0;
    right: 50%;
}

.main .container .lnb .box {
    width: 20%;
    text-align: center;
    float: left;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    border: 2px solid #fff;
}

.main .container .lnb .box:hover {
    border: 2px solid #43c2bb;
}

.main .container .lnb .box:nth-child(1) {
    background-image: url(../images/icon_lnb1.png);
    background-repeat: no-repeat;
    background-position: center 30px;
}

.main .container .lnb .box:nth-child(2) {
    background-image: url(../images/icon_lnb2.png);
    background-repeat: no-repeat;
    background-position: center 30px;
}

.main .container .lnb .box:nth-child(3) {
    background-image: url(../images/icon_lnb3.png);
    background-repeat: no-repeat;
    background-position: center 30px;
}

.main .container .lnb .box:nth-child(4) {
    background-image: url(../images/icon_lnb4.png);
    background-repeat: no-repeat;
    background-position: center 30px;
}

.main .container .lnb .box:nth-child(5) {
    background-image: url(../images/icon_lnb5.png);
    background-repeat: no-repeat;
    background-position: center 30px;
}

.main .container .lnb .box>a {
    height: 160px;
    padding-top: 123px;
}

.main .container .lnb .box>a+.drop {
    display: none;
    padding: 25px 0;
    background-color: #fff;
}

.main .container .lnb .box:hover>a+.drop {
    display: block;
}

.main .container .lnb .box>a+.drop a {
    height: 45px;
    line-height: 45px;
    color: #373737;
    font-weight: 400;
}

.price {
    margin-top: 60px;
    line-height: 60px;
    font-size: 16px;
}

.sub .price {
    margin-top: 40px;
}

.price .w1300 {
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.price .swiper-container2 {
    overflow: hidden;
    background-color: #fff;
}

.price .swiper-container2 .swiper-slide {
    padding-left: 80px;
}

.price .swiper-slide span {
    height: 60px;
    margin: 0 5px;
    float: left;
}

.price .blue {
    color: #0ba29a;
}

.price .red {
    color: #f23c3c;
}

.price .bullet_1 {
    width: 12px;
    margin-right: 20px;
    background-image: url(../images/icon_3.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.price .bullet_2 {
    width: 19px;
    background-image: url(../images/icon_1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.price .bullet_3 {
    width: 19px;
    background-image: url(../images/icon_2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.main .container .con2 {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
}

.main .container .con2 .btn_more {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50px;
    right: 30px;
}

.main .container .con2 .m_banner {
    display: none;
    float: left;
}

.main .container .con2 .left {
    width: 66%;
    margin-right: 2%;
    float: left;
}

.main .container .con2 .left .tab_list {
    font-size: 0;
    overflow: hidden;
}

.main .container .con2 .left .tab_list a {
    width: 146px;
    height: 46px;
    display: inline-block;
    line-height: 46px;
    color: #fff;
    background-color: #42c0b9;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.main .container .con2 .left .tab_list a.active {
    background-color: #fff;
    color: #000;
}

.main .container .con2 .left .tab_content_wrap {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.main .container .con2 .left .tab_content_wrap .tab_content {
    padding: 20px 40px;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr:last-child {
    border-bottom: none;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td {
    text-align: center;
    float: left;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(1) {
    width: 63%;
    padding-right: 5px;
    text-align: left;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(1) div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(1) .red {
    padding-left: 5px;
    color: #f23c3c;
    font-weight: 400;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(2) {
    width: 25%;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(3) {
    width: 12%;
}

.main .container .con2 .right {
    width: 32%;
    float: left;
}

.main .container .con2 .right .tab_list {
    font-size: 0;
    overflow: hidden;
}

.main .container .con2 .right .tab_list a {
    width: 146px;
    height: 46px;
    display: inline-block;
    line-height: 46px;
    color: #fff;
    background-color: #42c0b9;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}

.main .container .con2 .right .tab_list a.active {
    background-color: #fff;
    color: #000;
}

.main .container .con2 .right .tab_content_wrap {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.main .container .con2 .right .tab_content_wrap .tab_content {
    padding: 20px 40px;
}

.main .container .con2 .right .tab_content_wrap .tab_content .table {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

.main .container .con2 .right .tab_content_wrap .tab_content .table .tr {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.main .container .con2 .right .tab_content_wrap .tab_content .table .tr:last-child {
    border-bottom: none;
}

.main .container .con2 .right .tab_content_wrap .tab_content .table .tr .td {
    width: 100%;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .container .con2 .right .tab_content_wrap .tab_content .table .tr .td.blue {
    color: #0e807a;
    font-weight: 400;
}

.main .container .con3 {
    padding: 0 0 35px;
    overflow: hidden;
}

.main .container .con3 a {
    width: 15%;
    margin-right: 2%;
    margin-bottom: 25px;
    position: relative;
    float: left;
}

.main .container .con3 a:nth-child(6n) {
    margin-right: 0;
}

.main .container .con3 a .good {
    width: 57px;
    height: 57px;
    text-align: center;
    color: #fff;
    line-height: 57px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/icon_4.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main .container .con3 a .tx1 {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .container .con4 {
    color: #fff;
    text-align: center;
}

.main .container .con4 .w1300 {
    background-image: url(../images/main_con4_2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #43c2bb;
    position: relative;
}

.main .container .con4 .bgi{
    width: 292px;
    height: 225px;
    position: absolute;
    top: -26px;
    left: 0;
}
.main .container .con4 .tx1 {
    padding-top: 25px;
    font-size: 40px;
    font-weight: 500;
}

.main .container .con4 .tx2 {
    padding-top: 10px;
    font-size: 26px;
}

.main .container .con4 .btn {
    height: 32px;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 50px;
    display: inline-block;
    line-height: 32px;
    color: #fff;
    background-color: #317f80;
    background-image: url(../images/icon_5.png);
    background-repeat: no-repeat;
    background-position: 110px center;
}

.main .container .con5 {
    padding-top: 60px;
}

.main .container .con5 .tx1 {
    font-size: 40px;
    text-align: center;
}

.main .container .con5 .tx2 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.main .container .con5 .box_wrap {
    overflow: hidden;
}

.main .container .con5 .box_wrap .left {
    width: 66%;
    margin-right: 2%;
    float: left;
    overflow: hidden;
}

.main .container .con5 .box_wrap .left .video {
    width: 48.48484848484849%;
    margin-right: 3.03030303030303%;
    margin-bottom: 25px;
    float: left;
}

.main .container .con5 .box_wrap .left .video:nth-child(2n) {
    margin-right: 0;
}

.main .container .con5 .box_wrap .left .video .box {
    position: relative;
}

.main .container .con5 .box_wrap .left .video .box .btn_play {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/icon_video.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main .container .con5 .box_wrap .left .video .tx3 {
    height: 60px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.main .container .con5 .box_wrap .left .video .tx4 {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 300;
}

.main .container .con5 .box_wrap .right {
    width: 32%;
    float: left;
    overflow: hidden;
    position: relative;
}

.main .container .con5 .box_wrap .right .bg_grd {
    height: 178px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(243, 243, 243, 1), rgba(255, 255, 255, .5));
}

.main .container .con5 .box_wrap .right .swiper-slide {
    padding: 20px;
    background-color: #fff;
}

.main .container .con5 .box_wrap .right .swiper-slide .sns_tx {
    margin-bottom: 15px;
    overflow: hidden;
}

.main .container .con5 .box_wrap .right .swiper-slide .sns_tx img {
    width: 29px;
    float: left;
}

.main .container .con5 .box_wrap .right .swiper-slide .sns_tx span {
    height: 29px;
    padding: 0 16px;
    margin-left: 10px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 300;
    float: left;
    border: 1px solid #666666;
    border-radius: 20px;
}

.main .container .con5 .box_wrap .right .swiper-slide .tx5 {
    height: 52px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.main .container .con5 .box_wrap .right .swiper-slide .date {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #666;
}

.main .container .con5 .box_wrap .right .swiper-container1 {
    height: 741px;
}

.sub .container .nav {
    background-color: #fff;
}

.sub .container .nav .dropDown2 {
    height: 66px;
    overflow: visible;
}

.sub .container .nav .dropDown2 .drop {
    width: 20%;
    float: left;
    text-align: center;
    position: relative;
}

.sub .container .nav .dropDown2 .drop a {
    height: 66px;
    line-height: 66px;
    color: #080808;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.sub .container .nav .dropDown2 .drop>a {
    padding-left: 15px;
    background-image: url(../images/icon_9.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.sub .container .nav .dropDown2 .drop .down {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100000;
    transition: all .2s;
}

.sub .container .nav .dropDown2 .drop:hover a+.down {
    height: auto;
    box-shadow: 0 25px 25px rgba(0, 0, 0, .5);
}

.sub .container .nav .dropDown2 .drop .down a {
    display: block;
    background-color: #fff;
}

.sub .container .visual {
    height: 180px;
    background-image: url(../images/sub_visual.png);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.sub .container .visual .tx1 {
    height: 180px;
    line-height: 180px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 25px rgba(0, 0, 0, .8);
}

.sub .table {
    border-top: 2px solid #606060;
}

.sub .table .thead .tr {
    border-bottom: 1px solid #aaaaaa;
    overflow: hidden;
}

.sub .table .thead .tr .th {
    float: left;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
}

.sub .table .thead .tr .th:nth-child(1) {
    width: 9%;
}

.sub .table .thead .tr .th:nth-child(2) {
    width: 58%;
    padding-left: 60px;
    text-align: left;
}

.sub .table .thead .tr .th:nth-child(3) {
    width: 11%;
}

.sub .table .thead .tr .th:nth-child(4) {
    width: 11%;
}

.sub .table .thead .tr .th:nth-child(5) {
    width: 11%;
}

.sub .table .tbody .tr {
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    text-align: center;
}

.sub .table .tbody .tr.gray {
    background-color: #fafafa;
}

.sub .table .tbody .tr .td {
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
}

.sub .table .tbody .tr .td:nth-child(1) {
    width: 9%;
}

.sub .table .tbody .tr .td:nth-child(2) {
    width: 58%;
    padding-left: 60px;
    text-align: left;
}

.sub .table .tbody .tr .td:nth-child(3) {
    width: 11%;
}

.sub .table .tbody .tr .td:nth-child(4) {
    width: 11%;
}

.sub .table .tbody .tr .td:nth-child(5) {
    width: 11%;
}

.sub .table .tbody .tr .td .red {
    color: #fe0707;
}

.sub .table .tbody .tr .td .img {
    width: 14px;
    height: 13px;
    display: inline-block;
    background-image: url(../images/icon_11.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.sub .pageNavi {
    padding: 30px 0;
    text-align: center;
}

.sub .pageNavi .inner {
    display: inline-block;
    overflow: hidden;
}

.sub .pageNavi a {
    width: 40px;
    height: 30px;
    float: left;
    font-size: 14px;
    line-height: 30px;
}

.sub .pageNavi .btn {
    width: 30px;
    margin: 0 1px;
    background: none;
    border: none;
    box-shadow: none;
}

.sub .searchWarp {
    padding-bottom: 25px;
    text-align: center;
}

.sub .searchWarp .inner {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    display: inline-block;
}

.sub .searchWarp .selectBox {
    width: 22%;
    margin-right: 3%;
    float: left;
}

.sub .searchWarp .selectBox select {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: 1px solid #bfbfbf;
    outline: none;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/icon_10.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.sub .searchWarp .selectBox select::-ms-expand {
    display: none;
}

.sub .searchWarp .textBox {
    width: 75%;
    float: left;
    position: relative;
}

.sub .searchWarp .textBox input {
    width: 100%;
    padding: 0 80px 0 20px;
    height: 40px;
    background-color: #e9e9e9;
    border: none;
    line-height: 40px;
    outline: none;
    font-size: 18px;
}

.sub .searchWarp .textBox a {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.sub .con_title {
    padding: 50px 30px;
    position: relative;
}

.sub .con_title .title {
    font-size: 40px;
}

.sub .con_title .subTitle {
    margin-top: 18px;
    font-size: 24px;
    color: #919191;
}

.sub .btn {
    width: 240px;
    height: 60px;
    line-height: 60px;
    background-color: #0ba29a;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 10px 10px #ddd;
    border-radius: 40px;
    text-align: center;
}

.sub .btn.pink {
    background-color: #e25f99;
}

.sub .con_title .btn {
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.sub01_1 .container .con1 {
    height: 400px;
    margin-top: 40px;
    background-image: url(../images/sub01_1_1.png);
    background-repeat: no-repeat;
    background-position: center 0;
}

.sub01_1 .container .con1 .tx1 {
    padding-top: 120px;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
}

.sub01_1 .container .con2 {
    margin-bottom: 330px;
}

.sub01_1 .container .con2 .bar {
    width: 100px;
    height: 2px;
    margin: 120px auto 0;
    background-color: #0ba29a;
}

.sub01_1 .container .con2 .tx1 {
    margin-top: 40px;
    margin-bottom: 120px;
    font-size: 40px;
    text-align: center;
    color: #0ba29a;
}

.sub01_1 .container .con2 .tx1 span {
    font-weight: 600;
}

.sub01_1 .container .con2 .bothWrap {
    overflow: hidden;
}

.sub01_1 .container .con2 .bothWrap .fl {
    float: left;
}

.sub01_1 .container .con2 .bothWrap .fl:nth-child(1) {
    width: 60%;
    padding-right: 160px;
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
}

.sub01_1 .container .con2 .bothWrap .fl:nth-child(2) {
    width: 40%;
}

.sub01_2 .container .con1 .bar {
    width: 100px;
    height: 2px;
    margin: 120px auto 0;
    background-color: #0ba29a;
}

.sub01_2 .container .con1 .tx1 {
    margin-top: 40px;
    margin-bottom: 120px;
    font-size: 40px;
    text-align: center;
    color: #0ba29a;
}

.sub01_2 .container .con2 .bothWrap {
    overflow: hidden;
}

.sub01_2 .container .con2 .bothWrap .fl {
    width: 46.5%;
    float: left;
}

.sub01_2 .container .con2 .bothWrap .fl:last-child {
    margin-left: 7%;
}

.sub01_2 .container .con2 .bothWrap .fl .tx2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.sub01_2 .container .con2 .bothWrap .fl img {
    margin-bottom: 20px;
}

.sub01_2 .container .con3 {
    margin-bottom: 130px;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
}

.sub03 .container .con3 .boxWrap {
    padding-bottom: 50px;
    overflow: hidden;
}

.sub03 .container .con3 .boxWrap .box {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 40px;
    float: left;
}

.sub03 .container .con3 .boxWrap .box:nth-child(3n) {
    margin-right: 0;
}

.sub03 .container .con3 .boxWrap .box .tx1 {
    height: 60px;
    margin-top: 25px;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.sub03 .container .con3 .boxWrap .box .tx2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
}

.sub .write_view {
    border-top: 2px solid #606060;
}

.sub .write_view .tx1 {
    height: 60px;
    padding: 0 40px 0 50px;
    font-size: 18px;
    line-height: 60px;
    overflow: hidden;
}

.sub .write_view .tx1 .viewCount {
    float: right;
    font-size: 16px;
    font-weight: 300;
}

.sub .write_view .tx2 {
    height: 50px;
    padding: 0 40px 0 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    background-color: #f6f6f6;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.sub .write_view .tx2 span:nth-child(2) {
    margin: 0 10px;
    width: 1px;
    height: 15px;
    background-color: #666;
    display: inline-block;
    vertical-align: middle;
}

.sub .write_view .tx3 {
    padding: 40px 40px 40px 50px;
    font-size: 14px;
    line-height: 24px;
}

.sub .write_view .btn_wrap {
    padding-top: 110px;
    text-align: center;
}

.sub .write_view .btn_wrap .inner {
    display: inline-block;
}

.sub .write_view .btn_wrap .inner .btn {
    margin: 0 10px;
    display: inline-block;
}

.sub .write_view .tx4 {
    margin-top: 68px;
    padding-right: 20px;
    font-size: 18px;
    overflow: hidden;
}

.sub .write_view .tx4 a {
    float: right;
}

.sub .write_view .tx4 span {
    float: right;
}

.sub .write_view .tx4 span:nth-child(2) {
    margin: 0 15px;
    width: 1px;
    height: 15px;
    background-color: #666;
    display: inline-block;
    vertical-align: middle;
}

.sub .commentWrap {
    margin-bottom: 300px;
    border-top: 10px solid #e5e5e5;
}

.sub .commentWrap .box {
    padding: 40px 40px 20px 40px;
    overflow: hidden;
    border-bottom: 1px solid #aaaaaa;
}

.sub .commentWrap .box .fl {
    float: left;
}

.sub .commentWrap .box .fl:nth-child(1) {
    width: 13%;
    padding-right: 40px;
}


.sub .commentWrap .box .fl:nth-child(2) {
    width: 87%;
}

.sub .commentWrap .box .fl:nth-child(2) .tx1 {
    margin-bottom: 25px;
    overflow: hidden;
}

.sub .commentWrap .box .fl:nth-child(2) .tx1 span:nth-child(1) {
    font-size: 16px;
}

.sub .commentWrap .box .fl:nth-child(2) .tx1 span:nth-child(2) {
    margin: 0 15px;
    width: 1px;
    height: 15px;
    background-color: #666;
    display: inline-block;
    vertical-align: middle;
}

.sub .commentWrap .box .fl:nth-child(2) .tx1 span:nth-child(3) {
    font-size: 16px;
    font-weight: 300;
}

.sub .commentWrap .box .fl:nth-child(2) .tx1 .fire {
    float: right;
    font-size: 20px;
    font-weight: 300;
    color: #e25f99;
}

.sub .commentWrap .box .fl:nth-child(2) .tx2 {
    padding-right: 150px;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.sub .commentWrap2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #aaaaaa;
}

.sub .commentWrap2 .box {
    border-bottom: none;
}

.sub .commentWrap2 .box .fl:nth-child(1) {
    width: 20%;
}

.sub .commentWrap2 .box .fl:nth-child(2) {
    width: 80%;
}










@media screen and (max-width: 1300px) {
    .header .searchBox {
        width: 300px;
    }

    .price .m_w {
        width: 100%;
        float: left;
        overflow: hidden;
    }

    .price .swiper-slide span {
        height: 40px;
        line-height: 40px;
    }

    .price .swiper-container2 .swiper-slide {
        padding-left: 25%;
    }

    .price .m_w span {
        height: 40px;
        line-height: 40px;
    }

    .price p {
        width: 640px;
        margin: 0 auto;
        float: none;
    }

    .main .container .con3 a {
        width: 23.5%;
        margin-right: 2%;
    }

    .main .container .con3 a:nth-child(6n) {
        margin-right: 2%;
    }

    .main .container .con3 a:nth-child(4n) {
        margin-right: 0;
    }

    .sub01_1 .container .con2 .tx1 {
        line-height: 48px;
    }

}

@media screen and (max-width: 920px) {
    .w1300 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .main .container .con1 .swiper-container2 .swiper-slide {
        padding-left: 40px;
    }

    .main .container .con2 {
        width: 100%;
        padding-top: 30px;
    }

    .main .container .con2 .left {
        width: 100%;
        margin-right: 0;
    }

    .main .container .con2 .left .tab_list a {
        width: 100%;
    }

    .main .container .con2 .left .tab_list a:nth-child(2) {
        display: none;
    }

    .main .container .con2 .left .tab_list a:nth-child(3) {
        display: none;
    }

    .main .container .con2 .left .tab_list a:nth-child(4) {
        display: none;
    }

    .main .container .con2 .right {
        width: 100%;
        margin-top: 30px;
    }

    .main .container .con2 .right .tab_list a {
        width: 50%;
    }

    .main .container .con3 {
        padding-bottom: 0;
    }

    .main .container .con4 .w1300 {
        background: none;
    }

    .main .container .con4 .tx1 {
        font-size: 32px;
    }

    .main .container .con4 .tx2 {
        font-size: 20px;
    }

    .sub01_1 .container .con2 .bothWrap .fl:nth-child(1) {
        width: 100%;
        padding-right: 0;
    }

    .sub01_1 .container .con2 .bothWrap .fl:nth-child(2) {
        width: 100%;
        margin-top: 30px;
    }
    .sub .commentWrap .box .fl:nth-child(1){
        width: 150px;
    }
    .sub .commentWrap .box .fl:nth-child(2){
        width: calc(100% - 150px);
    }
    .sub .commentWrap .box .fl:nth-child(2) .tx2{
        padding-right: 50px;
        -webkit-line-clamp: 4;
    }
}

@media screen and (max-width: 720px) {
    .TXTX {
        padding: 150px 0;
        font-size: 28px;
        line-height: 36px;
    }

    .m_hidden {
        display: none;
    }

    .m_visible {
        display: block;
    }

    .main .container .visual {
        height: 648px;
        background-image: url(../images/m_main_visual.png);
    }

    .main .container .visual .txBox {
        top: 44%;
    }

    .main .container .visual .txBox p:nth-child(1) {
        font-size: 60px;
    }

    .main .container .visual .txBox p:nth-child(2) {
        font-size: 24px;
        letter-spacing: .8px;
    }

    .price {
        margin-top: -60px;
    }

    .price .swiper-container2 {
        position: relative;
        z-index: 1;
    }

    .price .swiper-container2 .swiper-slide {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .main .container .con2 .m_banner {
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 30px;
        display: block;
    }

    .main .container .con5 {
        display: none;
    }

    .main .container .con5 .box_wrap .left {
        width: 100%;
        margin-right: 0;
    }

    .main .container .con5 .box_wrap .right {
        width: 100%;
    }

    .main .container .con3 a {
        width: 30%;
        margin-right: 5%;
    }

    .main .container .con3 a:nth-child(6n) {
        margin-right: 0;
    }

    .main .container .con3 a:nth-child(4n) {
        margin-right: 5%;
    }

    .main .container .con3 a:nth-child(3n) {
        margin-right: 0;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content .table .tr {
        height: 80px;
        line-height: 30px;
        border-bottom: none;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td {
        text-align: left;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(1) {
        width: 100%;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(2) {
        width: 20%;
        color: #a3a2a2;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content .table .tr .td:nth-child(3) {
        width: 20%;
        color: #a3a2a2;
    }

    .main .container .con2 .left .tab_content_wrap .tab_content {
        padding: 20px 15px;
    }

    .main .container .con2 .left .tab_list a {
        height: 50px;
        padding-top: 10px;
        padding-left: 15px;
        font-size: 20px;
        font-weight: 500;
        line-height: 50px;
        text-align: left;
    }

    .main .container .con2 .right .tab_list a {
        height: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 50px;
    }

    .main .container .con2 .right .tab_content_wrap .tab_content {
        padding: 15px;
    }

    .sub .container .visual {
        background-position: right -600px center;
    }

    .sub .container .visual .tx1 {
        font-size: 38px;
    }

    .sub01_1 .container .con1 .tx1 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 100px;
        font-size: 38px;
        line-height: 60px;
    }

    .sub01_1 .container .con2 .bothWrap .fl:nth-child(1) {
        font-size: 22px;
        line-height: 38px;
    }

    .sub01_1 .container .con2 .tx1 {
        margin-bottom: 60px;
    }

    .sub01_1 .container .con2 .bar {
        margin-top: 60px;
    }

    .sub01_1 .container .con2 {
        margin-bottom: 100px;
    }

    .sub01_2 .container .con1 .tx1 {
        margin-bottom: 60px;
    }

    .sub01_2 .container .con1 .bar {
        margin-top: 60px;
    }

    .sub01_2 .container .con2 .bothWrap .fl {
        width: 100%;
    }

    .sub01_2 .container .con2 .bothWrap .fl:last-child {
        margin-top: 40px;
        margin-left: 0;
    }
    .sub .table .thead{
        display: none;
    }
    .sub .table .tbody .tr .td{
        line-height: 40px;
    }
    .sub .table .tbody .tr .td:nth-child(1) {
        display: none;
    }

    .sub .table .tbody .tr .td:nth-child(2) {
        width: 100%;
        padding-left: 10px;
    }

    .sub .table .tbody .tr .td:nth-child(3) {
        width: 50%;
        padding-left: 10px;
        text-align: left;
    }

    .sub .table .tbody .tr .td:nth-child(4) {
        width: 50%;
        padding-left: 10px;
        text-align: left;
    }
    .sub .table .tbody .tr .td:nth-child(5) {
        display: none;
    }
    .sub .con_title .title{
        font-size: 32px;
    }
    .sub .con_title .subTitle{
        font-size: 18px;
        line-height: 26px;
    }
    .sub .searchWarp .selectBox{
        width: 100%;
        margin: 0;
    }
    .sub .searchWarp .textBox{
        width: 100%;
        margin-top: 20px;
    }
    .sub03 .container .con3 .boxWrap .box{
        width: 49%;
        margin-right: 0;
    }
    .sub03 .container .con3 .boxWrap .box:nth-child(3n){
        margin-right: 0;
    }
    .sub03 .container .con3 .boxWrap .box:nth-child(2n){
        margin-left: 2%;
    }
    .sub .con_title .btn{
        width: 100px;
        height: 40px;
        top: 50px;
        line-height: 40px;
    }
    .sub .write_view .tx1{
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub .write_view .tx2{
        padding-left: 20px;
        padding-right: 20px;
    }
    .sub .write_view .tx3{
        padding-left: 30px;
        padding-right: 30px;
    }
    .sub .write_view .btn_wrap{
        padding-top: 60px;
    }
    .sub .write_view .btn_wrap .inner .btn{
        width: 100px;
        height: 40px;
        line-height: 40px;
    }
    .sub .commentWrap .box{
        position: relative;
        padding: 30px 15px 30px 15px;
    }
    .sub .commentWrap .box .fl:nth-child(2) .tx1 .fire{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 16px;
    }
    .sub .commentWrap .box .fl:nth-child(2) .tx2{
        padding-right: 0;
    }
    .sub .commentWrap .box .fl:nth-child(1){
        padding-right: 20px;
    }
}

@media screen and (max-width: 425px) {
    .menuWrap .menuCon .drop {
        height: 60px;
    }

    .menuWrap .menuCon .drop a {
        height: 60px;
        padding-left: 25px;
        line-height: 60px;
        font-size: 18px;
    }

    .menuWrap .menuCon .drop .depth1 {
        margin-left: 25px;
        padding-left: 50px;
        background-size: 10%;
    }

    .menuWrap .con1 {
        padding-bottom: 30px;
    }

    .menuWrap .con1 .tx2 {
        margin-top: 20px;
        font-size: 20px;
        line-height: 28px;
    }

    .menuWrap .con1 .bothWrap {
        margin-top: 25px;
    }

    .menuWrap .con1 .bothWrap a {
        height: 34px;
        line-height: 34px;
        font-size: 20px;
    }

    .sub .container .visual {
        height: 120px;
    }

    .sub .container .visual .tx1 {
        height: 12px;
        line-height: 120px;
        font-size: 30px;
    }

    .sub01_1 .container .con1 {
        height: 240px;
    }

    .sub01_1 .container .con1 .tx1 {
        padding-top: 50px;
        font-size: 22px;
        line-height: 36px;
    }

    .sub01_1 .container .con2 .tx1 {
        margin-bottom: 60px;
        font-size: 24px;
        line-height: 34px;
    }

    .sub01_1 .container .con2 .bar {
        margin-top: 60px;
    }

    .sub01_2 .container .con1 .tx1 {
        font-size: 26px;
        line-height: 40px;
    }

    .sub01_2 .container .con2 .bothWrap .fl .tx2 {
        font-size: 18px;
    }

    .sub01_2 .container .con3 {
        font-size: 18px;
        line-height: 32px;
    }
    .sub03 .container .con3 .boxWrap .box{
        width: 100%;
        margin-right: 0;
    }
    .sub03 .container .con3 .boxWrap .box:nth-child(3n){
        margin-right: 0;
    }
    .sub03 .container .con3 .boxWrap .box:nth-child(2n){
        margin-left: 0;
    }
    .sub03 .container .con3 .boxWrap .box .tx1{
        margin-top: 15px;
    }
    .sub03 .container .con3 .boxWrap .box{
        margin-bottom: 30px;
    }
    .sub03 .container .con3 .boxWrap{
        padding-bottom: 30px;
    }
    
    .sub .commentWrap .box .fl:nth-child(1){
        width: 100px;
    }
    .sub .commentWrap .box .fl:nth-child(2){
        width: calc(100% - 100px);
    }
    .sub .commentWrap{
        margin-bottom: 150px;
    }
    .sub01_1 .container .con2 .bothWrap .fl:nth-child(1){
        font-size: 16px;
        line-height: 30px;
    }
}