<!-- nav -->
<header>
	<h1 class="logo"><a href="index.html"><img src="images/logo2.png" alt="logo"></a></h1>
	<div class="btn_close"><a class="iconBtn" href="#"><i class="material-icons">&#xE5CD;</i></a></div>
</header>
<div class="container">
	<ul>
		<li class="search_box">
			<input type="text" placeholder="제품명, 브랜드명 검색">
			<i class="material-icons">&#xE8B6;</i>
		</li>
		<li><a href="index.html">홈</a></li>
		<li class="tit_1 btn_category">
			<a href="#">
				<span>카테고리별 랭킹</span>
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
				<i class="fa fa-chevron-up" aria-hidden="true"></i>
			</a>
			<ul>
				<li><a href="list-by-category.html">스킨케어</a></li>
				<li><a href="list-by-category.html">클렌징</a></li>
				<li><a href="list-by-category.html">베이스메이크업</a></li>
				<li><a href="list-by-category.html">색조메이크업</a></li>
				<li><a href="list-by-category.html">마스크/팩</a></li>
			</ul>
		</li>
		<li><a href="brand-list.html">브렌드별 랭킹</a></li>
		<li><a href="editor-collection-list.html">FAME OR SHAME</a></li>
		<li><a href="event-list.html">이벤트</a></li>
		<li><a href="my-page.html">my-page(삭제)</a></li>
		<li><a href="search-result.html">search-page(삭제)</a></li>
	</ul>
	<div class="btn_wrap">
		<a class="btn btn_bgn" href="sign-up.html">회원가입</a>
		<a class="btn btn_bgn" href="login.html">로그인</a>
	</div>
</div>