/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; /*font: inherit;*/ vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a{text-decoration:none;}
*{font-family: 'Gulm';}
/*global_css*/

header{width:100%; height:55px; position:fixed; top:0; left:0; border-bottom:2px solid #ffc700; box-sizing:border-box; background-color:#4cae7d; z-index: 100;}
header > div{width:924px; margin:0 auto;}
header > div:after{content:''; display:block; clear:both; visibility:hidden;}
header > div h1{width:15%; float:left; padding:5px 0;}
header > div h1 a{display:block; text-align:left;}
header > div h1 a img{width:100%;}
header > div nav{width:70%; float:left;}
header > div nav ul{width:438px; margin:0 auto;}
header > div nav ul:after{content:''; display:block; clear:both; visibility:hidden;}
header > div nav ul li{width:25%; float:left;}

header > div nav ul li a{display:block; text-align:center; font-size:15px; padding:20px 0; color:white;}
header > div > div{width:15%; float:left;}

header > div > div:after{content:''; display:block; clear:both; visibility:hidden;}
header > div > div a{width:50%; float:left; display:block; font-size:12px; padding:20px 0; color:white;}
/*header_css_end*/


div.test{margin:55px 0 25px 0; padding:200px 0; background:url(../images/bg_01.png) no-repeat center; background-size:100%;  position: relative;}
div.test > div{width:100%; position: absolute; bottom: 0;}
div.test > div > div.swiper-container { 
    width: 100%;
    height: 100%;
    max-width: 580px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
.box::after{content: ''; display: block; visibility: hidden; clear: both;}
.box > div{float: left; width: 50%;}

  .cont {}
.cont h3 {padding:57px 0 102px;font-family:'Myriad Pro';font-size:40px;line-height:60px;color:#242424;text-align:center;text-transform:uppercase; background:url(../images/icon_16.png) no-repeat bottom center;}
.cont img{width: 100%;}
.cont h3 span {display:block;font-family:'Myriad Pro';font-weight:bold;font-size:60px;color:#242424;}
.cont .box {border-radius:20px;background:#fff;}
.cont .rp-range {margin-top: 67px; margin-bottom:20px;position:relative;text-align:center; }
.cont .rp-range:before {content:"";display:block;width:55px;height:50px;position:absolute;top:-50px; right: 45px; background:url('../images/ico_ok.png') no-repeat; background-size: cover;}
.cont .rp-range sup {font-size:20px;color:#242424;vertical-align:top;}
.cont .rp-range input {width:60%;height:30px; margin-bottom: 27px; padding:0; border:none;font-family:'Myriad Pro';font-weight:700;font-size:32px;color:#242424;text-align:left;}
.slider-area {width:80%;height:24px;margin:0px auto;padding:5px 6px 6px 5px;position:relative;border-radius:50px;overflow:hidden;
    -webkit-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
    box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
}
.slider-area .rs {height:auto;}
.range-slider {width:100%;height:41px;margin:0 auto 60px;border-radius:50px;background:#f2c21c;}
.rp-range .rs.first {display:none;}
.rp-range .rs-slider {width:38px;height:38px;top:-6px;border:none;border-radius:100%; background:url('../images/btn_range_controler.png') no-repeat;box-shadow:none;background-size: 41px;}
.rp-range .rs-track {height:24px;top:0;border-radius:50px;background:#f2c21c; width: 52%;}
.rp-range .rs-trackBackground{position: absolute; background-color:#b3b3b3; width: 97%; z-index: -1; height: 24px;}
.rp-range .rs-slider:focus {width:38px;height:38px;top:-6px;border:none;border-radius:100%; background:url('../images/btn_range_controler.png') no-repeat;box-shadow:none;background-size: 41px;}

.apply-list {width:79%;margin:0 auto;}
.apply-list>li {margin-bottom:10px;}
.apply-list label {font-family:'Myriad Pro';font-size:15px;line-height:26px;color:#959595;}
.apply-list .select-box {border-color:#b3b3b3; position: relative; border-bottom: 2px solid #5f5f5f; letter-spacing: -0.06em; background-color: #fff;}
.apply-list .select-box select {font-family:'Myriad Pro';font-size:18px;line-height:32px;color:#242424;text-align-last:right;background-size:15px; border:none; width: 100%; padding: 0 10%;}
.apply-list .input-text { border-color:#b3b3b3;font-family:'Myriad Pro';width: 100%; font-size:18px;line-height:32px;color:#242424;text-align:right;background-size:15px; border: none; border-bottom:2px solid #5f5f5f;}
.apply-list .input-text:focus {border-color:#e7421b;}
.btn-apply {display:none;width:90%;height:100px;margin:0 auto;position:relative;border-radius:40px;font-family:'Myriad Pro';font-weight:400;font-size:40px;line-height:100px;color:#373534;text-align:center;background:#ffcd20;z-index:1;}
.bg {width:144%;margin:-90px 0 0 -15%;}
.bg img {display:block;max-width:100%;opacity:0;transition:all 0.3s; z-index: 100;}

.swiper-pagination{width: 100%; top:-28px;}
.swiper-pagination span{width: 10px; height: 10px; margin-left: 13px;}
.swiper-pagination span:first-of-type{margin-left: 0;}
.swiper-button-next{right: 390px;}
.swiper-button-prev{left: 390px;}
  

section.gimana{width:100%;}
section.gimana > span{width:345px; display:block; text-align:center; font-size:20px; padding:15px 0; margin:0 auto 60px; background-color:#face2c; 
                       border-radius:25px;}
section.gimana > h2{text-align:center; font-size:35px; margin: 0 0 60px 20px; text-transform:capitalize;}
section.gimana > h2:after{content:''; background-image:url(../images/rp.png); background-repeat:no-repeat; background-size:100%; background-position:top 20px right; padding:50px 20px;}
section.gimana > ul{width:50%; margin:0 auto 70px;}
section.gimana > ul li{text-align:center; margin-bottom:55px; padding-top:30px;}
section.gimana > ul li:first-child{background:url(../images/icon_01.jpg) no-repeat  top center;}
section.gimana > ul li:nth-child(2){background:url(../images/icon_02.jpg) no-repeat  top center;}
section.gimana > ul li:nth-child(3){background:url(../images/icon_03.png) no-repeat  top center;}
section.gimana > ul li dl{font-size:15px;}
section.gimana > ul li dl dt{margin-bottom:15px; font-weight:bold;}
section.gimana > ul li dl dd{width:53%; line-height:22px; margin:0 auto;}
section.gimana > div:first-of-type{text-align:center; margin-bottom:80px;}
section.gimana > div:first-of-type h2{margin-bottom:15px;}
section.gimana > div:first-of-type a{display:inline-block;}
section.gimana > div:nth-of-type(2){text-align:center; margin-bottom:90px;}
section.gimana > div:nth-of-type(3){text-align:center; margin-bottom:80px;}
section.gimana > div:nth-of-type(3) h2{margin-bottom:32px;}
section.gimana > div:nth-of-type(3) p{width:29%; text-align:center; margin:0 auto; line-height:22px;}
/*section.gimana_end*/

div.bunga{padding:80px 0; background-color:#f2f2f2;}
div.bunga ul{text-align:center; margin:0 auto;}
div.bunga ul li{margin-bottom:75px; padding-top:125px;}
div.bunga ul li:first-child{background:url(../images/ico_04.png) no-repeat top center;}
div.bunga ul li:nth-child(2){background:url(../images/ico_05.png) no-repeat top center;}
div.bunga ul li:nth-child(3){background:url(../images/ico_06.png) no-repeat top center; margin-bottom:60px;}
div.bunga > div{text-align:center; margin-bottom:55px;}
div.bunga > div a{width:304px; display:inline-block; text-align:center; font-size:20px; padding:25px 0; margin-left:60px; background-color:#face2c; border-radius:25px; color:#373534;}
div.bunga > div a:first-child{margin-left:0;}
/*div.bunga_end*/


article.faq_article{padding:80px 0 100px 0; border-bottom:1px solid #cccccc; box-sizing:border-box;}
article.faq_article h2{text-align:center; margin-bottom:30px; font-size:34px; font-weight:normal; text-transform:uppercase;}
article.faq_article > div{width:924px; margin:0 auto 40px;}
article.faq_article > div:after{content:''; display:block; clear:both; visibility:hidden;}
article.faq_article > div ul{width:33%; float:left;}
article.faq_article > div ul:first-child{margin-left:1%;}
article.faq_article > div ul li{width:80%; margin:0 auto; text-align:center;}
article.faq_article > div ul li:first-child{margin-bottom:40px;}
article.faq_article > a{width:260px; display:block; text-align:center; font-size:15px; padding:20px 0; margin:0 auto; color:#757575; border:1px solid #cccccc; box-sizing:border-box;}
/*article.faq_end*/

div.m_down{padding:40px 0; text-align:center;}
div.m_down h2{margin-bottom:15px;}
div.m_down a{display:inline-block;}
/*div.m_down_end*/

footer{padding-bottom:26px; background:#212121;}
footer .contact-info{height:50px; background:#6e6e6e; text-align:left;}
footer .container1{width:924px; margin:0 auto; position:relative;}
footer .contact-info span:first-child{margin-left:0;}
footer .contact-info span{margin-left:32px; font-size:15px; line-height:50px; color:#212121;}
footer .footer-menu{padding:26px 0; font-size:17px; line-height:17px; color:#bbb;}
footer .footer-menu > a:first-child{margin-left:0;}
footer .footer-menu > a{margin-left:33px; color:#bbb;}
footer .links{margin-bottom:50px; font-size:15px; line-height:15px; color:#bbb;}
footer .links > a:first-child{margin-left:0;}
footer .links > a{margin-left:30px; color:#bbb;}
footer address{margin-bottom:25px;}
footer address .logo{display:block; margin-bottom:10px;}
footer address p{font-size:15px; line-height:20px; letter-spacing:-0.06em; color:#bbb;}
footer .disclaimer dl>dt{margin-bottom:10px; font-size:14px; line-height:14px; color:#bbb;}
footer .disclaimer dl>dd{padding-left:22px; font-size:14px; line-height:18px; color:#bbb;}
footer .disclaimer dl>dd .no{float:left; margin-left:-22px; font-size:14px; line-height:18px; color:#bbb;}
footer .sns{position:absolute; top:126px; right:0;}
footer .sns>a:first-child{margin-left:0;}
footer .sns>a{margin-left:5px;}

footer{padding-bottom:26px; background:#212121;}
footer .contact-info{height:50px; background:#6e6e6e; text-align:left;}
footer .container{width:924px; margin:0 auto; position:relative;}
footer .contact-info span:first-child{margin-left:0;}
footer .contact-info span{margin-left:32px; font-size:15px; line-height:50px; color:#212121;}
footer .footer-menu{padding:26px 0; font-size:17px; line-height:17px; color:#bbb;}
footer .footer-menu > a:first-child{margin-left:0;}
footer .footer-menu > a{margin-left:33px; color:#bbb;}
footer .links{margin-bottom:50px; font-size:15px; line-height:15px; color:#bbb;}
footer .links > a:first-child{margin-left:0;}
footer .links > a{margin-left:30px; color:#bbb;}
footer address{margin-bottom:25px;}
footer address .logo{display:block; margin-bottom:10px;}
footer address p{font-size:15px; line-height:20px; letter-spacing:-0.06em; color:#bbb;}
footer .disclaimer dl>dt{margin-bottom:10px; font-size:14px; line-height:14px; color:#bbb;}
footer .disclaimer dl>dd{padding-left:22px; font-size:14px; line-height:18px; color:#bbb;}
footer .disclaimer dl>dd .no{float:left; margin-left:-22px; font-size:14px; line-height:18px; color:#bbb;}
footer .sns{position:absolute; top:126px; right:0;}
footer .sns>a:first-child{margin-left:0;}
footer .sns>a{margin-left:5px;}


/* funding_new */
.fundingArea{width: 100%; margin:0 auto; text-align: center;}
.fundingArea > *{max-width:640px; margin: 0 auto;}
.fundingArea section:first-of-type {}
span.pendanaanDafter{width:345px; display:block; text-align:center; font-size:20px; padding:15px 0; margin: 0 auto;  background-color:#face2c; border-radius:25px; font-family: 'myriad Pro';}
.fundingArea section:first-of-type span.pendanaanDafter{margin-bottom: 40px;}
.fundingArea section:first-of-type h2{font-size: 34px; font-weight:400; margin-bottom: 35px; line-height: 1.2; }
.fundingArea section:first-of-type h2 span{display: block;}
.fundingArea section:first-of-type h2 span:after{content:''; background-image:url(../images/rp.png); background-repeat:no-repeat; background-size:100%; background-position:top 20px right; padding:50px 20px;}
.fundingArea section:first-of-type p{font-size:17px; font-weight: 100; line-height: 1.5;}

.fundingArea figure{}
.fundingArea figure img{}
.fundingArea figure figcaption{}
.fundingArea figure figcaption h2{font-size: 34px; margin-bottom: 35px;}
.fundingArea figure figcaption ul{}
.fundingArea figure figcaption ul li{ margin-bottom:60px; padding-top:30px;}
.fundingArea figure figcaption ul li:first-of-type{background:url(../images/icon_01.jpg) no-repeat  top center;}
.fundingArea figure figcaption ul li:nth-of-type(2){background:url(../images/icon_02.jpg) no-repeat  top center;}
.fundingArea figure figcaption ul li:nth-of-type(3){background:url(../images/icon_03.png) no-repeat  top center;}
.fundingArea figure figcaption ul li dl{font-size:15px;}
.fundingArea figure figcaption ul li dl dt{margin-bottom:15px; font-weight:bold;}
.fundingArea figure figcaption ul li dl dd{line-height:22px; margin:0 auto;}
.fundingArea figure figcaption ul li:first-of-type dl dd{width: 300px;}
.fundingArea figure figcaption ul li:nth-of-type(2) dl dd{width: 415px;}
.fundingArea figure figcaption ul li:nth-of-type(3) dl dd{width: 460px;}
.fundingArea figure span.pendanaanDafter{margin-bottom: 60px;}

.fundingArea > ul{max-width: 100%; padding-top: 70px; background-color: #f2f2f2; margin-bottom: 50px;}
.fundingArea > ul li{}
.fundingArea > ul li figure figcaption{}
.fundingArea > ul li figure figcaption dl{}
.fundingArea > ul li figure figcaption dl dt{font-size: 34px; font-weight: 300; margin-bottom: 30px;}
.fundingArea > ul li figure figcaption dl dd{width: 230px; margin: 0 auto; line-height: 1.5; font-size: 15px; padding-bottom: 30px;}
.fundingArea > ul li figure img{ margin-bottom:50px;}

.fundingArea > div:nth-of-type(1){text-align:center; margin-bottom:80px;}
.fundingArea > div:nth-of-type(1) h2{margin-bottom:32px;}
.fundingArea > div:nth-of-type(1) p{width:440px; text-align:center; margin:0 auto; line-height:22px;}



/* main_new */
.mainArea h2{font-size: 34px; font-weight: 400;}
div.main_new_bg{}
.mainArea{width: 100%;}
.mainArea * {text-align: center; margin: 0 auto;}
.mainArea section:first-of-type{margin-bottom: 100px;} 
.mainArea section:first-of-type h2{margin-bottom: 30px;}
.mainArea section:first-of-type h2:after{content:''; background-image:url(../images/rp.png); background-repeat:no-repeat; background-size:100%; background-position:top 20px right; padding:50px 20px;}
.mainArea section:first-of-type p{font-size: 17px; width: 640px; line-height: 1.5; margin-bottom: 50px;}

ul.pengajuanPinjaman::after{content: ''; display: block; visibility: hidden; clear: both;}
ul.pengajuanPinjaman{width: 100%; max-width: 675px;}
ul.pengajuanPinjaman li{float: left; width: 45%; max-width: 305px; margin-left:10%; font-size:20px; padding:15px 0; background-color:#face2c; border-radius:25px; font-family: 'myriad Pro';}
ul.pengajuanPinjaman li:first-of-type{margin-left: 0;}

.mainArea section:nth-of-type(2){margin-bottom: 52px;}
.mainArea section:nth-of-type(2) h2{margin-bottom: 100px;}
.mainArea section:nth-of-type(2) > ul:first-of-type::after{content: ''; display: block; visibility: hidden; clear: both;}
.mainArea section:nth-of-type(2) > ul:first-of-type{width: 100%; max-width: 785px;}
.mainArea section:nth-of-type(2) > ul:first-of-type li{float: left; width: 45%; margin-right: 10%; margin-bottom: 115px;}
.mainArea section:nth-of-type(2) > ul:first-of-type li:nth-child(5){margin-bottom:35px;}
.mainArea section:nth-of-type(2) > ul:first-of-type li:nth-child(6){margin-bottom:35px;}
.mainArea section:nth-of-type(2) > ul:first-of-type li:nth-of-type(2n){margin-right: 0;}
.mainArea section:nth-of-type(2) > ul:first-of-type li
.mainArea section:nth-of-type(2) > ul:first-of-type li figure{}
.mainArea section:nth-of-type(2) > ul:first-of-type li figure figcaption{}
.mainArea section:nth-of-type(2) > ul:first-of-type li figure figcaption dl{}
.mainArea section:nth-of-type(2) > ul:first-of-type li figure figcaption dl dt{font-size: 28px; margin-bottom: 25px;}
.mainArea section:nth-of-type(2) > ul:first-of-type li figure figcaption dl dd{font-size: 15px; line-height: 1.5;}
.mainArea section:nth-of-type(2) > ul:first-of-type li figure img{}

.mainArea section:nth-of-type(2) > ul.pengajuanPinjaman{width:100%; max-width: 735px;}
.mainArea section:nth-of-type(2) > ul.pengajuanPinjaman li{width:42.5%; max-width: 305px; margin-left: 15%;}
.mainArea section:nth-of-type(2) > ul.pengajuanPinjaman li:first-of-type{margin-left: 0%;}

.mainArea section:nth-of-type(3){background-color: #f2f2f2; margin-bottom: 55px;}
.mainArea section:nth-of-type(3) h2{padding: 65px 0;}
.mainArea section:nth-of-type(3) img{padding-bottom: 75px; }

.mainArea section:nth-of-type(4){margin-bottom: 45px;}
.mainArea section:nth-of-type(4) h2{margin-bottom: 42px;}
.mainArea section:nth-of-type(4) ul::after{content: ''; display: block; visibility: hidden; clear: both;}
.mainArea section:nth-of-type(4) ul{width: 100%; max-width: 924px;}
.mainArea section:nth-of-type(4) ul li{float: left; width: 16%; max-width: 160px; margin-right: 5%;}
.mainArea section:nth-of-type(4) ul li{margin-bottom: 27px;}
.mainArea section:nth-of-type(4) ul li:nth-of-type(5n+5){margin-right: 0;}



    /* swiper */

  /* .swiper-slide { */
    /* font-size: 18px;
    color:#fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  }
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }
  .swiper-slide .subtitle {
    font-size: 21px;
  }
  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  } */
