@charset "utf-8";

#wrap {width:100%;max-width:720px;min-height:100vh;background:url('../images/bg_main.jpg') no-repeat;background-size:cover; overflow: hidden; }
/* header */
header {position:relative;}
header h2 {display:none;}
header .btn-open-nav {position:absolute;top:38px;right:38px;z-index:99;}
header nav {display:block;width:0%;height:100vh;padding:0px 0 0 53px;position: absolute;;top:0;right:-10%;background:#24262d;box-sizing:border-box;z-index:99;overflow-y:auto; transition: 1s; overflow: hidden;} 
header nav .main-menu {margin-bottom:8%;}
header nav .main-menu>ul>li {position:relative;border-top:2px solid #6a6b6e;font-size:1.875rem;line-height:1.625rem;color:#fff;letter-spacing:-0.05em;}
header nav .main-menu>ul>li:first-child {border-top:none;}
header nav .main-menu>ul>li>a {display:block;padding:20px 0 25px;background:url('../images/common/arrow_right.png') 87% 50% no-repeat;}
header nav .main-menu>ul ul {padding:12px 0;}
header nav .main-menu>ul ul>li {position:relative;color:#fff;}
header nav .main-menu>ul ul>li>a {display:block;padding:10px 0 14px; background:url('../images/common/arrow_right.png') 87% 50% no-repeat;}
header nav .main-menu .new {width:36px;height:36px;margin-top:-20px;position:absolute;top:50%;left:-4.5%;font-size:0;line-height:0;text-align:center;background:url('../images/common/ico_new.png') no-repeat;}
header nav.navDisplay{right: 0; width: 50%; padding:92px 0 0 53px; overflow: hidden; transition: 1s;}
header .util>a {display:block;margin-bottom:8.5%;font-size:1.5rem;line-height:1.625rem;color:#fbad18;}
header .btn-close-nav {position:absolute;top:2.5%;right:10%}
.dim {width:100%;height:100%;position:fixed;top:0;left:0;background:url('../images/common/bg_dim.png'); z-index: 1;}
h1 {padding:24px 0 46px;font-size:0;text-align:center;}
.cont {transform:scale(0.9);}
.cont h3 {padding:57px 0 115px;font-family:'Myriad Pro';font-size:50px;line-height:60px;color:#242424;text-align:center;text-transform:uppercase;}
.cont h3 span {display:block;font-family:'Myriad Pro';font-weight:bold;font-size:70px;color:#242424;}
.cont .box {height:818px;margin:20px 20px 115px;border-radius:20px;background:#fff;opacity:0.7;}
.cont .rp-range {margin-bottom:60px;position:relative;text-align:center;}
.cont .rp-range:before {content:"";display:block;width:101px;height:94px;position:absolute;top:-95px;right:24%;background:url('../images/ico_ok.png') no-repeat;}
.cont .rp-range sup {font-size:40px;color:#242424;vertical-align:top;}
.cont .rp-range input {width:60%;height:64px;border:none;font-family:'Myriad Pro';font-weight:700;font-size:64px;color:#242424;text-align:left;}
.slider-area {width:80%;height:41px;margin:10px auto;padding:5px 6px 6px 5px;position:relative;border-radius:50px;overflow:hidden;
    -webkit-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
    box-shadow: inset 3px 3px 15px 0px rgba(0,0,0,0.23);
}
.slider-area .rs {height:auto;}
.range-slider {width:100%;height:41px;margin:0 auto 60px;border-radius:50px;background:#f2c21c;}
.rp-range .rs.first {display:none;}
.rp-range .rs-slider {width:50px;height:50px;top:-3px;border:none;border-radius:100%;background:url('../images/btn_range_controler.png') no-repeat;box-shadow:none;}
.rp-range .rs-track {height:41px;top:0;border-radius:50px;background:#f2c21c; width: 52%;}
.rp-range .rs-trackBackground{position: absolute; background-color: blue; width: 97%; z-index: -1;}
.rp-range .rs-slider:focus {width:50px;height:50px;top:-3px;border:none;border-radius:100%;background:url('../images/btn_range_controler.png') no-repeat;box-shadow:none;}

.apply-list {width:79%;margin:0 auto;}
.apply-list>li {margin-bottom:24px;}
.apply-list label {font-family:'Myriad Pro';font-size:26px;line-height:26px;color:#959595;}
.apply-list .select-box {border-color:#b3b3b3;}
.apply-list .select-box select {font-family:'Myriad Pro';font-size:32px;line-height:32px;color:#242424;text-align-last:right;background-size:15px;}
.apply-list .input-text {border-color:#b3b3b3;font-family:'Myriad Pro';font-size:32px;line-height:32px;color:#242424;text-align:right;background-size:15px;}
.apply-list .input-text:focus {border-color:#e7421b;}
.btn-apply {display:none;width:90%;height:100px;margin:0 auto;position:relative;border-radius:40px;font-family:'Myriad Pro';font-weight:400;font-size:40px;line-height:100px;color:#373534;text-align:center;background:#ffcd20;z-index:1;}
.bg {width:144%;margin:-90px 0 0 -15%;}
.bg img {display:block;max-width:100%;opacity:0;transition:all 0.3s; z-index: 100;}


/* slick-slider */
.slick-center .cont {display:none;transform:scale(1);}
.slick-center .cont:first-child ~ div {display:none;}
.slick-center .cont .box {margin:30px 0 60px;opacity:1;}
/* .slick-current:first-child + .slick-slide {display:none;} */
.slick-current .btn-apply {display:block;}
.slick-current .bg img {opacity:1;}
.slick-dots {width:100%;position:absolute;top:867px;text-align:center;}
.slick-dots li {display:inline-block;margin-left:27px;}
.slick-dots li:first-child {margin-left:0;}
.slick-dots button {width:22px;height:22px;border:none;border-radius:100%;text-indent:-9999px;background:rgba(255,255,255,0.4);}
.slick-dots .slick-active button {background:#fff;}

.test{
    width: 100px; height: 100px;
    background-color: #e7421b;
    position:relative;
    top:300px;
}


@media (max-width: 480px){
    h1 {height:37px;padding:23px 0 20px;}
    h1 img {height:100%;}
    header .btn-open-nav {height:15px;top:25px;right:20px;}
    header .btn-open-nav img {height:100%;}
    header nav {padding:13% 0 0 7%;}
    header nav .main-menu>ul>li {font-size:1.125rem;line-height:1.125rem;}
    header nav .main-menu>ul>li>a {padding:10px 0 16px;background-size:10px 16px;background-position:90% 50%;}
    header nav .main-menu>ul ul>li>a {background-size:10px 16px;background-position:90% 50%;}
    header nav .main-menu .new {width:20px;height:20px;margin-top:-12px;background-size:20px;}
    header .util>a {font-size:0.9375rem;line-height:1.0625rem;}
    header .btn-close-nav {width:20px;height:20px;}
    header .btn-close-nav img {height:100%;}
    .cont .box {height:518px;border-radius:10px;}
    .cont h3 {padding:26px 0 48px;font-size:34px;line-height:40px;}
    .cont h3 span {font-size:48px;}
    .cont .rp-range {margin-bottom:30px;}
    .cont .rp-range sup {font-size:28px;}
    .cont .rp-range input {height:37px;font-size:44px;line-height:44px;}
    .slick-center .cont .box {margin:30px 0 52px;}
    .slider-area {height:29px;padding:3px 4px 4px 3px;position:relative;}
    .rp-range .rs-slider {width:36px;height:36px;top:-4px;background-size:36px;}
    .rp-range .rs-slider:focus {width:36px;height:36px;top:-4px;background-size:36px;}
    .rp-range .rs-track {height:29px;}
    .cont .rp-range:before {width:70px;height:66px;top:-67px;right:26px;background-size:70px;}
    .apply-list>li {margin-bottom:15px;}
    .apply-list label {font-size:20px;line-height:20px;}
    .apply-list .select-box select {font-size:26px;line-height:26px;background-size:10px;}
    .apply-list .input-text {font-size:26px;line-height:26px;}
    .btn-apply {height:70px;border-radius:25px;font-size:27px;line-height:70px;}
    .slick-dots {top:564px;}
    .slick-dots button {width:16px;height:16px;}
    .bg {width:128%;margin:-53px 0 0 -14%;}
    .slick-current .bg img {max-width:100%;}
}

@media (max-width: 380px){
    h1 {height:28px;padding:18px 0 10x;}
    h1 img {height:100%;}
    header .btn-open-nav {height:14px;}
    header .btn-open-nav img {height:100%;}
    .cont .box {height:410px;border-radius:5px;}
    .cont h3 {padding:20px 0 35px;font-size:1.6875rem;line-height:32px;}
    .cont h3 span {font-size:2.375rem;}
    .cont .rp-range {margin-bottom:20px;}
    .cont .rp-range sup {font-size:1.375rem;}
    .cont .rp-range input {height:34px;font-size:2.125rem;line-height:34px;}
    .slick-center .cont .box {margin:25px 0 40px;}
    .slider-area {height:23px;padding:2px 4px 4px 2px;}
    .rp-range .rs-track {height:23px;}
    .rp-range .rs-slider {width:28px;height:28px;top:-2px;background-size:28px;}
    .cont .rp-range:before {width:55px;height:52px;top:-54px;right:22%;background-size:55px;}
    .apply-list>li {margin-bottom:10px;}
    .apply-list label {font-size:1rem;line-height:16px;}
    .apply-list .select-box select {font-size:1.3125rem;line-height:21px;background-size:8px;}
    .apply-list .input-text {font-size:1.3125rem;line-height:21px;}
    .btn-apply {height:55px;border-radius:25px;font-size:1.375rem;line-height:55px;}
    .slick-dots {top:450px;}
    .slick-dots li {margin-left:14px;}
    .slick-dots button {width:13px;height:13px;}
    .bg {width:128%;margin:-77px 0 0 -14%;}
    .slick-current .bg img {max-width:100%;}
}