@charset "utf-8";

@media (max-width: 720px){
    header nav .main-menu .new {left:-13%;}
}

@media (max-width: 460px){
    /* common */
    header .btn-open-nav {height:15px;top:25px;right:20px;}
    header .btn-open-nav img {height:100%;}
    header nav {padding:13% 0 0 7%;}
    header nav .main-menu>ul>li {font-size:1.125rem;line-height:1.125rem;}
    header nav .main-menu>ul>li>a {padding:10px 0 16px;background-size:10px 16px;background-position:90% 50%;}
    header nav .main-menu>ul ul>li>a {background-size:10px 16px;background-position:90% 50%;}
    header nav .main-menu .new {width:20px;height:20px;margin-top:-12px;background-size:20px;}
    header .util>a {font-size:0.9375rem;line-height:1.0625rem;}
    header .btn-close-nav {width:20px;height:20px;}
    header .btn-close-nav img {height:100%;}
    /* sub 공통 */
    .sub-header {height:65px;}
    .sub-header h2 {font-size:1.6875rem;line-height:65px;}
    .sub-header .btn-back {height:25px;top:20px;left:20px;}
    .sub-header .btn-back img {height:100%;}
    .container.sub-wrap {min-height:calc(100vh - 105px);}
    .container.sub-wrap.apply-loan {min-height:calc(100vh - 65px);}
    .apply-list>li {margin-bottom:24px;}
    .apply-list>li>label {margin-bottom:0;}
    .ico-quest {width:32px;height:32px;margin-top:-6px;background-size:32px;vertical-align:top;}
    .has-popup .popup h2 {height:65px;font-size:1.6875rem;line-height:65px;}
    .has-popup .popup .btn-close-popup {width:20px;height:20px;top:22px;right:20px;}
    .has-popup .popup .title {height:39px;margin-bottom:23px;font-size:1.375rem;line-height:39px;}

    /* apply-info-confirm(7.한도금리조회,대출신청-신청정보 확인) */
    .apply-info-confirm .txt {margin-bottom:30px;font-size:1.1875rem;line-height:1.1875rem;}
    .apply-info-confirm .apply-list .msg-certification .timer {font-size:1.1875rem;line-height:44px;}
    .step {height:46px;}
    .step>ol>li {height:46px;font-size:1.0625rem;line-height:46px;}
    .step>ol>li.current:before {border-top-width:23px;border-left-width:14px;border-bottom-width:23px;}
    .step>ol>li.current:after {border-top-width:23px;border-left-width:14px;border-bottom-width:23px;}

    /* limit-result(3.한도금리확인,대출신청-한도결과) */
    .limit-result h3 {height:40px;margin-bottom:30px;font-size:22px;line-height:40px;}
    .limit-result .check-list>li {height:42px;}
    .limit-result .check-list>li label {width:39%;font-size:1.1875rem;}
    .limit-result .check-list>li .select-box select {font-size:1.875rem;}
    .limit-result .check-list>li .input-text {height:40px;font-size:1.875rem;}
    .limit-result .desc {font-size:1.1875rem;line-height:25px;}
    .limit-result .btns .btn {height:55px;font-size:1.1875rem;line-height:55px;background-size:10px;}
	.limit-result .btns .btn.double-line {line-height:20px;}
    .limit-result .btns button.btn {font-size:1.0625rem;line-height:1.19rem;}
    .limit-result .layer-popup .title {margin:20px auto 40px;}
    .limit-result .layer-popup ul {margin:0 auto 63px;}
    .limit-result .layer-popup ul>li {margin-bottom:14px;font-size:1.1875rem;line-height:1.1875rem;}

    /* img-upload(17.대출약정(이미지등록),대출신청-이미지등록 */
    .img-upload .txt {font-size:1.1875rem;line-height:1.25em;}
    .img-upload .input-file input[type='file'] {height:49px;}
    .img-upload .apply-list > li .input-file .input-text {height:49px;line-height:49px;}
    .img-upload .apply-list > li .btn-confirm {height:49px;line-height:49px;}
    .img-upload .desc {margin:20px 0 90px;font-size:1.0625rem;line-height:1.375rem;}
    .img-upload .popup .desc {margin-bottom:80px;font-size:1.1875rem;line-height:1.5625rem;}
    .img-upload .popup .caution {font-size:1.375rem;line-height:1.625rem;}

    /* decline_guide(2.한도금리확인_거부,대출신청-거절안내) */
    .decline-guide .title {height:39px;margin-bottom:23px;font-size:1.375rem;line-height:39px;}
    .decline-guide .msg {margin:45px 0 50px;font-size:1.9375rem;line-height:2.1875rem;}
    .decline-guide .desc {margin-bottom:0;font-size:1.1875rem;line-height:1.5625rem;}

    /*** member ***/
    .member h3 {height:40px;margin-bottom:30px;font-size:22px;line-height:40px;}
    /* login */
    .login .title {height:41px;margin-bottom:60px;font-size:1.1875rem;line-height:41px;letter-spacing:-0.06em}
    .login .apply-list {margin-bottom:110px;}
    .login .btns .btn-submit {height:56px;margin-bottom:30px;line-height:56px;}
    .login .btns .btn-member {height:43px;font-size:1.1875rem;line-height:43px;}
    .login .popup .txt {font-size:1.375rem;line-height:1.875rem;}
    .login .popup .result {font-size:1.625rem;line-height:1.625rem;}
    .login .popup.find-id-result .btns .btn-submit {font-size:1.25rem;}

}

@media (max-width: 380px){
    .container.sub-wrap {min-height:calc(100vh - 104px);}
    .sub-header h2 {font-size:1.5rem;}
	.step {height:38px;}
	.step>ol>li {height:38px;font-size:0.875rem;line-height:38px;}
	.step>ol>li.current:before {border-top-width:19px;border-bottom-width:19px;}
	.step>ol>li.current:after {border-top-width:19px;border-bottom-width:19px;}
	.step>ol>li:first-child.current:before {border-top-width:19px;border-bottom-width:19px;}
	.apply-list>li>label {font-size:1rem;line-height:1rem;}
    .apply-info-confirm .apply-list .msg-certification .btn-confirm {font-size:1rem;line-height:44px;}
	.limit-result h3 {height:33px;margin-bottom:20px;font-size:1.125rem;line-height:33px;}
	.limit-result .check-list>li {height:38px;}
	.limit-result .check-list>li .input-text {height:38px;font-size:1.625rem;}
	.limit-result .check-list>li .select-box {right:-3px;}
	.limit-result .desc {font-size:1rem;line-height:1.25rem;}
    .limit-result .btns .btn {letter-spacing:-0.07em;background-size:8px;background-position:95% 50%;}
	.limit-result .btns .btn.double-line {line-height:18px;letter-spacing:-0.09em;}
	.limit-result .btns .btn.double-line > a {display:block;}
	.limit-result .layer-popup .title {margin:15px auto 30px;}
	.limit-result .layer-popup ul {margin:0 auto 50px;}
	.limit-result .layer-popup ul>li {font-size:1rem;line-height:1rem;}
    .ico-quest {width:28px;height:28px;margin-top:0;background-size:28px;vertical-align:top;}
	.img-upload .txt {font-size:1rem;line-height:1.375rem;}
	.img-upload .desc {margin:15px 0 75px;}
    .img-upload .input-file input[type='file'] {height:40px;}
	.img-upload .apply-list > li .input-file .input-text {height:40px;line-height:40px;}
	.img-upload .apply-list > li .btn-confirm {height:40px;font-size:1rem;line-height:40px;}
    .img-upload .popup h2 {height:50px;line-height:50px;}
    .img-upload .popup .btn-close-popup {width:16px;height:16px;top:17px;right:15px;}
}
@media (max-width: 320px){
    .container.sub-wrap {min-height:calc(100vh - 82px);}
    .sub-header {height:45px;}
    .sub-header .btn-back {top:14px;height:18px;}
    .sub-header h2 {line-height:45px;}
    header .btn-open-nav {height:10px;top:18px;}
    .apply-loan .apply-list {margin-bottom:100px;}
	.ico-quest {width:22px;height:22px;background-size:22px;}
	.apply-info-confirm .apply-list .msg-certification .btn-confirm {height:34px;line-height:34px;}
	.limit-result h3 {height:28px;line-height:28px;}
	.limit-result .check-list>li {height:34px;}
	.limit-result .check-list>li .input-text {height:34px;}
	.img-upload .desc {margin:10px 0 60px;}
    .img-upload .input-file input[type='file'] {height:34px;}
	.img-upload .apply-list > li .input-file .input-text {height:34px;line-height:34px;}
	.img-upload .apply-list > li .btn-confirm {height:34px;line-height:34px;}
}
