@charset "utf-8";

/* sub 공통 */
.title {width:100%;height:32px;margin-bottom:30px;border-radius:40px;font-size:14px;line-height:32px;color:#161616;text-align:center;background:#f6bf00;}
.tab-menu {margin-bottom:20px;font-size:0;line-height:0;text-align:justify;}
.tab-menu>li {display:inline-block;width:49.5%;height:30px;margin-left:0.5%;border-radius:12px 12px 0 0;font-size:15px;line-height:30px;color:#818181;text-align:center;background:#e1e1e1;vertical-align:top;}
.tab-menu>li.on {background:#0695c2;color:#fff;}
.tab-menu>li:first-child {margin-left:0;}
.tab-menu>li a {display:block;}
.apply-list>li {margin-bottom:25px;font-size:0;line-height:0;}
.apply-list>li>label {display:inline-block;margin-bottom:10px;text-indent:3px;}
.scroll-table {width:100%;max-width:720px;overflow:hidden;overflow-x:scroll;}
.scroll-table .box {width:120%;overflow:hidden;}
.scroll-table table {border-left:none;}
.scroll-table table thead tr th:first-child {width:60px;position:absolute;border-left:1px solid #b4b4b4;line-height:58px;z-index:1;}
.scroll-table table tbody tr th {width:60px;position:absolute;border-left:1px solid #b4b4b4;line-height:30px;}
.scroll-table table tbody tr:first-child th {height:31px;}


/* apply-loan */
.container.sub-container {padding:50px 80px;box-sizing:border-box;background:#fff;}
.apply-loan {text-align:center;}
.apply-loan .logo {margin-bottom:23px;font-size:0;line-height:0;}
.apply-loan h4 {margin-bottom:18px;font-size:20px;line-height:20px;color:#000;}
.apply-loan .txt {margin-bottom:58px;font-size:15px;line-height:25px;color:#000;}
.apply-loan .step>li {margin-bottom:54px;}
.apply-loan .step>li:last-child {margin-bottom:0;}
.apply-loan .step .no {display:inline-block;width:23px;height:23px;margin-bottom:5px;font-size:15px;line-height:23px;color:#000;border-radius:100%;background:#f6ae24;vertical-align:top;}
.apply-loan .step .desc {margin-bottom:10px;font-size:15px;line-height:17px;color:#000;}
.apply-loan .step img {display:inline-block;vertical-align:top;}

/* faq */
.faq ul>li {border-bottom:1px solid #e8e8e8;overflow:hidden;}
.faq ul>li h4 {position:relative;padding:20px 40px 20px 20px;border-bottom:1px solid #e8e8e8;font-size:15px;line-height:15px;color:#242424;cursor:pointer;background:url('../images/web/arrow_down.png') 98% 50% no-repeat;}
.faq ul>li h4 span {position:absolute;top:50%;left:0;margin-top:-9px;}
.faq .answer {padding:22px 25px 22px 42px;font-size:15px;line-height:22px;color:#242424;background:#f0f0f0;overflow:hidden;}
.faq .answer span {float:left;margin-left:-20px;}

/* login */
.login .txt {margin-bottom:35px;font-size:15px;line-height:20px;letter-spacing:-0.03em;color:#3e3e3e;}
.login .apply-list>li {overflow:hidden;}
.login .apply-list>li>label {display:inline-block;width:105px;vertical-align:top;}
.login .apply-list>li .input-text {width:375px;vertical-align:top;}
.login .links {margin-top:34px;text-align:center;}
.login .links a {margin-left:50px;font-size:15px;line-height:15px;}
.login .links a:first-child {margin-left:0;}
.change-pwd .apply-list>li {height:53px;}
.change-pwd .apply-list>li .warning {display:block;margin:10px 0 0 105px;font-size:15px;line-height:15px;color:#2f95c1;}
.change-pwd .layer-popup {width:300px;height:230px;margin-left:-150px;}
.change-pwd .layer-popup .container {width:100%;padding:15px 40px;box-sizing:border-box;}
.change-pwd .layer-popup .msg {padding:28px 0;}
.change-pwd .layer-popup .btn.btn-submit {position:absolute;left:0;bottom:0;}
.find-id .apply-list {margin-bottom:60px;}
.find-id .apply-list>li>label {display:inline-block;width:150px;}
.find-id .apply-list>li .input-text {width:330px;}
.find-id .apply-list>li .group {display:inline-block;width:330px;}
.find-id .apply-list>li .group .select-box {display:inline-block;width:32.3%;margin-left:1.5%;}
.find-id .apply-list>li .group .select-box:first-child {margin-left:0;}
.find-id .apply-list>li .radio-box {margin-right:30px;}
.find-id-result .txt {margin:100px 0 25px 70px;font-size:15px;line-height:20px;letter-spacing:-0.03em;color:#3e3e3e;box-sizing:border-box;}
.find-id-result .email {margin-bottom:165px;font-weight:700;font-size:15px;color:#000;text-align:center;}
.find-id-result .btns .btn {display:inline-block;width:49.5%;}

/* mypage */
/* 대출내역(loan_history.html) */
.container.sub-container.loan-history  {padding:40px 80px;}
.loan-history label {display:inline-block;}
.loan-history .radio-group {margin-bottom:25px;}
.loan-history .group label {margin-right:10px;}
.loan-history .group .select-box {display:inline-block;width:365px;}
.loan-history .btn {display:block;margin:0 auto 35px;}
.loan-history .btn.btn-submit {margin-bottom:0;}
.loan-history .apply-list {margin-bottom:45px;}
.loan-history .apply-list>li {margin-bottom:25px;}
.loan-history .apply-list>li:first-child {margin-bottom:20px;}
.loan-history .apply-list>li h3 {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:left;}
.loan-history .apply-list>li .txt {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:right;}
/* 개인정보(personal_info.html) */
.personal-info .apply-list {margin-bottom:45px;}
.personal-info .apply-list>li {margin-bottom:25px;}
.personal-info .apply-list>li:first-child {margin-bottom:20px;}
.personal-info .apply-list>li h3 {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:left;vertical-align:middle;}
.personal-info .apply-list>li .txt {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:right;vertical-align:middle;}
/* 상환정보(redmption_list.html) */
.redmption-list {margin-bottom:34px;}
.redmption-list .group label {margin-right:10px;}
.redmption-list .group .select-box {display:inline-block;width:365px;}
.redmption-list .radio-group {margin-bottom:25px;}
.redmption-list .options {margin-bottom:30px;text-align:right;}
.redmption-list .options a {display:inline-block;width:104px;height:28px;margin-left:4px;border:1px solid #878787;font-size:14px;line-height:28px;color:#2f2f2f;text-align:center;}
.redmption-list .btn {display:block;margin:0 auto;}
.redmption-list .caption {margin-bottom:20px;font-size:15px;line-height:15px;color:#242424;}
.redmption-list table .no {width:60px;}
/* 상환 가이드(redmption_guide.html) */
.redmption-guide .group label {margin-right:10px;}
.redmption-guide .group .select-box {display:inline-block;width:365px;}
.redmption-guide .radio-group {margin-bottom:25px;}
.redmption-guide .btn {display:block;margin:0 auto 40px;}
.redmption-guide .confirm-list {font-size:0;}
.redmption-guide .confirm-list>li {margin-bottom:25px;}
.redmption-guide .confirm-list>li h3 {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:left;vertical-align:top;}
.redmption-guide .confirm-list>li .txt {display:inline-block;width:50%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:right;vertical-align:top;}
.redmption-guide .layer-popup {width:500px;height:600px;margin:-300px 0 0 -250px;position:relative;overflow:hidden;}
.redmption-guide .layer-popup h2.tit {height:50px;font-size:21px;line-height:50px;color:#fff;text-align:center;background:#2f95c1;}
.redmption-guide .layer-popup .container {width:100%;height:430px;margin:20px 0;box-sizing:border-box;overflow:hidden;overflow-y:scroll;}
.redmption-guide .layer-popup .container .txt {width:320px;margin:0 auto;font-size:13px;line-height:20px;letter-spacing:-0.02em;color:#434343;overflow:hidden;}
.redmption-guide .layer-popup .btn {width:420px;margin:0 auto;}

/* 회사소개(about-company.html) */
.about-company {text-align:center;}
.about-company .logo {margin-bottom:46px;font-size:0;}
.about-company h4 {margin-bottom:26px;font-weight:700;font-size:22px;line-height:22px;color:#000;}
.about-company .txt {margin-bottom:26px ;font-size:17px;line-height:24px;color:#000;}
.about-company .img {margin-bottom:75px;font-size:0;}
.about-company .step {margin-bottom:50px;}
.about-company .step>li {margin-bottom:26px;}
.about-company .step>li:last-child {margin-bottom:0;}
.about-company .step .no {display:inline-block;width:23px;height:23px;margin-bottom:5px;font-size:15px;line-height:23px;color:#000;border-radius:100%;background:#f6ae24;vertical-align:top;}
.about-company .step .desc {margin-bottom:10px;font-size:15px;line-height:17px;color:#000;}
.about-company .txt.v2 {margin-bottom:80px;}
.about-company .partners {margin-bottom:70px;}
.about-company .partners img {padding-left:40px;text-align:center;}
.about-company .partners img:first-child {padding-left:0;}
.about-company .btns .btn {display:inline-block;width:226px;height:50px;margin-left:20px;border-radius:15px;font-weight:700;font-size:20px;line-height:50px;color:#373534;background:#face2c;}
.about-company .btns .btn:first-child {margin-left:0;}

/* daftar */
.daftar .apply-list {margin-bottom:60px;}
.daftar .apply-list>li>label {display:inline-block;width:150px;}
.daftar .apply-list>li .input-text {width:330px;}
.daftar .apply-list>li .group {display:inline-block;width:330px;}
.daftar .apply-list>li .group .select-box {display:inline-block;width:32.3%;margin-left:1.5%;}
.daftar .apply-list>li .group .select-box:first-child {margin-left:0;}
.daftar .apply-list>li .radio-box {margin-right:30px;}
.daftar .apply-list>li>.select-box {display:inline-block;width:68.7%;}

/* contact(contact.html) */
.contact .apply-list>li>h3 {display:inline-block;font-size:15px;line-height:15px;width:150px;vertical-align:top;}
.contact .apply-list>li .txt {display:inline-block;width:68%;font-size:15px;line-height:15px;letter-spacing:-0.06em;text-align:right;vertical-align:middle;}
.contact .apply-list>li .group {display:inline-block;width:330px;}
.contact .apply-list>li .group .select-box {display:inline-block;width:32.3%;margin-left:1.5%;}
.contact .apply-list>li .group .select-box:first-child {margin-left:0;}
.contact .apply-list>li .radio-box {margin-right:30px;}
.contact .map {border:1px solid #c6c6c6;}

