@charset "utf-8";
.sub-header{
    display: none;
}

@media (max-width: 768px) {
    .sub-header{
        display: block;
    }
    header{
        height: 100vh;
        display: block;
        transition: all 0.2s;
        top: auto;
        bottom: 100%;
    }
    header.on{
        bottom: 0;
        z-index: 99;
    }
    header .container{
        width: 100%;
        margin-top: 100px;
    }
    
    header h1{
        max-width: 85px;
        margin: 0 auto 30px;
        display: block;
    }
    header nav{
        display: block;
        margin: 0 auto 30px;
    }
    header nav>ul>li{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    header .util{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    header .btn_close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header .btn_close span{
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        background-color: #333;
        display: block;
    }
    header .btn_close span:last-child{
        transform: translate(-50%,-50%) rotate(-45deg);
    }
    #contents{
        margin-top: 0;
        padding-top: 60px;
        padding-bottom: 0;
    }
    img{
        max-width: 100%;
    }
    .sub-header{
        width: 100%;
        padding: 2vw 3vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0795c2;
        box-sizing: border-box;
    }
    .sub-header h3{
        color: #fff;
        font-size: 32px;
        font-weight: bold;
    }
    .sub-title{
        display: none;
    }
    .container.sub-container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }
    .about-company .logo{
        max-width: 189px;
    }
    .about-company .partners img{
        width: auto;
        margin: 10px 0;
        padding: 0 20px;
    }
    .about-company .partners img:first-child{
        padding-left: 20px;
    }
    .about-company .btns .btn{
        margin: 10px 20px;
    }
    .about-company .btns .btn:first-child{
        margin-left: 20px;
    }
    .login .apply-list>li>label{
        width: auto;
        display: block;
    }
    .login .apply-list>li .input-text{
        display: block;
    }
    .change-pwd .apply-list>li{
        height: auto;
    }
    .change-pwd .apply-list>li .warning{
        margin: 10px 0 0 0;
    }
    .contact .apply-list>li>h3{
        width: 20%;
    }
    .contact .apply-list>li .txt{
        width: 80%;
    }
    .daftar .apply-list>li .input-text{
        width: 100%;
    }
    .daftar .apply-list>li>.select-box{
        width: 100%;
    }
    .daftar .apply-list>li .group{
        width: 100%;
    }
    .find-id-result .btns{
        text-align: center;
    }
    .find-id-result .btns .btn{
        width: 100%;
        margin-bottom: 10px;
    }
    .find-id .apply-list>li .group{
        width: 100%;
    }
    .find-id .apply-list>li .input-text{
        width: 100%;
    }
    .radio-box.v2{
        margin: 0 auto 10px;
        display: block;
    }
    .radio-box.v2:first-child{
        margin-left: auto;
    }
    .redmption-guide .layer-popup{
        width: 100%;
        margin: 0;
        position: absolute;
        transform: translate(-50%,-50%);
    }
    .cal-group input{
        width: 80%;
    }
    .loan-history .group .select-box{
        width: 100%;
    }
    .container.sub-container.loan-history{
        padding-left: 20px;
        padding-right: 20px;
    }
}