<!-- footer -->
<div class="btn_wrap">
	<a class="btn" href="login.html">로그인</a>
	<a class="btn" href="sign-up.html">회원가입</a>
</div>
<ul class="socialWrap">
	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
</ul>
<h1 class="logo"><a href="main.html"><img src="images/logo2.png" alt="logo"></a></h1>
<p>&copy;2016 UNC Company.</p>
