@charset "utf-8";


@media all and (max-width:460px){
}





/*-------------------main
@media all and (max-width:1420px){
	.main_visual{width:95%;}
	.content01_inner{width:95%;}
	.content02{width:100%;}
}


@media all and (max-width:1280px){
	.main_visual{height:57vw;background-position:right 20%;-webkit-background-size:60%;background-size:60%;}
	.mv_tx{width:40%;}
	.mv_tx h2 img{width:100%;}
	.icon_wrap span:nth-child(1){width:15vw;bottom:-50px;opacity:0.3;}
	.icon_wrap span:nth-child(2){width:7vw;opacity:0.3;right:48vw;}
	.icon_wrap span:nth-child(3){opacity:0.3;}
	.icon_wrap span img{width:100%;}
	.con02 > ul{width:100%;}
}


@media all and (max-width:1024px){
	#container{}
	.content01{height:105vh;}
	.map_title{display:none;}
	.map_title_tablet {float:right;}
	.startEnd{}
	.startEnd ul{}
	.startEnd ul:nth-child(3){}
	.startEnd a{}
	.viewTx{margin-top:70px;margin-bottom:-80px;color:#ccc;text-align:center;}
	.map{display:none;}
	.t_map img{width:100%;margin-top:100px;}
	.con01{}
	.con02 > ul{width:85%;}
	.con02 > ul > li{width:48%;margin-right:4%;margin-bottom:20px;}
	.con02 > ul > li:nth-child(2){margin-right:0;}
	.con02 a{top:100%;}
	.popup01{width:75%;}
}


@media all and (max-width:960px){
	.mv_tx a{display:none;}
	.startEnd{width:95%;height:130px;position:relative;background-position:46% 57%;}
	.startEnd ul:nth-child(3){margin-left:10vw;}
	.startEnd a{
	margin-left:0;display:block;position:absolute;bottom:0;left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	}
	.startEnd span{display:none;}
}


@media all and (max-width:840px){
	.content01{height:102vh;}
	.main_visual{}
	.startEnd{width:100%;background-position:47% 57%;}
	.startEnd ul:nth-child(3){margin-left:7vw;}
	.startEnd a{}
	.con02 > ul > li{width:48%;margin-right:4%;}
	.con02 > ul > li:nth-child(2){margin-right:0;}
	.con02 a{top:100%;}
	.list_1 li:last-child{display:none;}
	.list_3 li:last-child{display:none;}
}


@media all and (max-width:770px){
	.mv_tx p{font-size:2.5vw;line-height:4.5vw;}
	.content01{height:105vh;}
	.startEnd{height:200px;background:none;}
	.startEnd ul{
	position:absolute;left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	}
	.startEnd ul{width:55vw;}
	.startEnd ul:nth-child(3){margin-top:70px;margin-left:0;}
	.startEnd a{}
	.startEnd select{width:33vw;font-size:2.5vw;margin-left:4vw;}
	.list_3 li{margin-right:0;}
	.list_4 li{margin-left:20px;}
	.list_4 li:first-child{display:none;}
	.list_4 li:nth-child(2){margin-left:0;}
}


@media all and (max-width:620px){
	.content01{height:175vw;}
	.content01 h2{width:30vw;}
	.startEnd ul{}
	.startEnd ul:nth-child(3){}
	.startEnd a{}
	.startEnd select{min-width:190px;font-size:15px;}
}


@media all and (max-width:460px){
	.main_visual{height:350px;padding-bottom:40px;background-position:center bottom;-webkit-background-size:80%;background-size:80%;}
	.mv_tx{display:none;}
	.m_mv_tx{margin-top:30px;padding-left:20px;text-align:center;}
	.icon_wrap span:nth-child(1){right:0;bottom:-20px;}
	.icon_wrap span:nth-child(2){right:77vw;}
	.icon_wrap span:nth-child(3){top:21vw;right:3vw;}
	.content01{height:200vw;}
	.content01 h2{width:80px;margin:10px auto 0;float:unset;}
	.content01 h2 img{width:100%;}
	.content02 h2{margin:60px auto 20px;font-size:18px;}
	.content02 h2 span{width:10px;height:10px;margin-right:15px;}
	.startEnd ul{width:80%;}
	.con02{margin-top:40px;}
	.con02 > ul{width:80%;}
	.con02 > ul > li{width:100%;margin-right:0;}
	.con02 > ul > li{margin-bottom:10px;}
}


@media all and (max-width:340px){
	.main_visual{height:300px;}
	.content01{height:215vw;}
	.content01 h2{}
	.startEnd ul{width:90%;}
	.startEnd ul:nth-child(3){}
	.startEnd a{}
	.startEnd select{}
	.con02 > ul{width:90%;}
}*/


/*------------------------sub01
@media all and (max-width:1420px){
	.main_visual{height:43vw;}
	.content01{height:100%;}
	.tabset0{width:100%;}
	h3{width:900px;margin:0 auto 3vw;}
	.tabs_content01{width:100%;height:500px;position:relative;}
	.tabs_content02{width:100%;height:500px;position:relative;}
	.time01{
		text-align:center;position:absolute;left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.time_con01{
		width:95%;margin-left:0;padding-top:35px;padding-left:9%;padding-right:9%;border:none;border-top:1px solid #999;position:absolute;bottom:0;left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.time02{
		text-align:center;position:absolute;left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.time_con02{
		width:95%;margin-left:0;padding-top:35px;padding-left:9%;padding-right:9%;border:none;border-top:1px solid #999;position:absolute;bottom:0;left:50%;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
	}

	.tabs_conWrap{width:95%;margin:0 auto;overflow:hidden;}

	#map{height:600px;}

	.content03{width:95%;}
	.content03 ul.hide{
		-webkit-transform:translateY(-200px) scale(0.8);
		-moz-transform:translateY(-200px) scale(0.8);
		-ms-transform:translateY(-200px) scale(0.8);
		-o-transform:translateY(-200px) scale(0.8);
		transform:translateY(-200px) scale(0.8);
	}
}


@media all and (max-width:1280px){
	.content03{height:1000px;}
	.content03 p{width:60%;}
	.content03 ul.hide{
	-webkit-transform:translateY(-200px) scale(0.7);
	-moz-transform:translateY(-200px) scale(0.7);
	-ms-transform:translateY(-200px) scale(0.7);
	-o-transform:translateY(-200px) scale(0.7);
	transform:translateY(-200px) scale(0.7);}
}


@media all and (max-width:1024px){
	h2{top:110px;}
	#map{height:480px;}

	.startEnd{width:800px;height:125px;position:relative;background:url("../images/arrow.png") 360px 20% no-repeat;}
	.startEnd a{
		margin-left:0;position:absolute;left:50%;bottom:0;
		-webkit-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-o-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.content03 h4{text-align:left;}
	.content03 p{width:100%;}
	.content03 ul.hiden{
		-webkit-transform:translateY(-200px) translateY(50px) scale(0.7);
		-moz-transform:translateY(-200px) translateY(50px) scale(0.7);
		-ms-transform:translateY(-200px) translateY(50px) scale(0.7);
		-o-transform:translateY(-200px) translateY(50px) scale(0.6);
		transform:translateX(-150px) translateY(50px) scale(0.6);
	}
}


@media all and (max-width:840px){
	h2{top:80px;}
	.startEnd{width:760px;}
	.tabs_content01{height:575px;}
	.tabs_content02{height:575px;}
	.time01 ul{width:410px;}
	.time02 ul{width:410px;}
}


@media all and (max-width:800px){
	.content01{margin-top:30px;}
	.startEnd_wrap{height:300px;}
	.startEnd{width:350px;height:200px;background:none;}
	.startEnd ul{float:none;}
	.startEnd ul:nth-child(2){margin-top:20px;margin-left:0;}
}

@media all and (max-width:660px){
	.content01{margin-top:40px;}
	.main_visual{height:46vw;}
	.tab_name{display:none;}
	.tabs_content01{height:620px;}
	.tabs_content02{height:620px;}
	.content03 ul.hide{
		-webkit-transform:translateY(-200px) translateY(50px) scale(0.7);
		-moz-transform:translateY(-200px) translateY(50px) scale(0.7);
		-ms-transform:translateY(-200px) translateY(50px) scale(0.7);
		-o-transform:translateY(-200px) translateY(50px) scale(0.6);
		transform:translateX(-170px) translateY(50px) scale(0.4);
	}
}


@media all and (max-width:520px){
	h2{top:70px;}
	.pws_tabs_controll li{width:32.66666666666667%;margin-right:1%;}
	.pws_tabs_controll li:last-child{margin-right:0;}
	.pws_tabs_controll li a{width:100%;padding:13px 0 !important;}
	.tabs_content01{height:670px;}
	.tabs_content02{height:670px;}
}


@media all and (max-width:460px){
	.main_visual{display:none;}
	.startEnd{width:80%;}
	.startEnd li{width:100%;}
	.startEnd li:first-child{display:none;}
	.startEnd select{width:100%;margin-left:0;}
	.tabs_content01{height:910px;}
	.tabs_content02{height:910px;}
	.time_conTx li{height:65px;}
	.time_conTx li:first-child{float:none;}
	li.textLh{float:none;}
	.time01{width:100%;}
	.time01 ul{width:100%;}
	.time01 li p{font-size:20vw;}
	.time01 li span{font-size:5vw;}
	.time01 li:nth-child(1){margin-right:15vw;}
	.time01 li:nth-child(2) span:last-child{font-size:5vw;}
	.time02{width:100%;}
	.time02 ul{width:100%;}
	.time02 li p{font-size:20vw;}
	.time02 li span{font-size:5vw;}
	.time02 li:nth-child(1){margin-right:15vw;}
	.time02 li:nth-child(2) span:last-child{font-size:5vw;}
	.m_hide{display:none;}
	h4{font-size:28px;}
	h4 span{width:15px;height:15px;margin-right:20px;display:inline-block;background:#fb7889;}
	.content03{height:1250px;}
	.content03 .mobile li{margin-top:20px;text-align:center;}
}


@media all and (max-width:340px){
	.tablet{display:none;}
	.tabs_content01{height:880px;}
	.tabs_content02{height:880px;}
	.content03{height:1400px;}
}*/

/*---------------------------------------------------------header
@media all and (max-width:1420px){

	#header{width:95%;}

}

@media all and (max-width:460px){
	
	#header .hiden{display:none;}
	#header h1{margin-left:15px;}
	#header h1.mobile a{font-size:18px;line-height:30px;color:#333;}
	#header h1.mobile a img{width:30px;height:30px;margin-right:5px;}
	#header h1 img{width:100%;}
	#header{width:100%;height:70px;z-index:99;}
	#header li{margin-left:30px;}
	#header ul.mobile{margin-right:15px;}

}
*/

/*-----------------------------------------------------------------footer
@media all and (max-width:1420px){

	#footer{
		width:95%;
	}

}

@media all and (max-width:840px){

	#footer{
		padding-bottom:100px;
	}
	#footer ul{
		width:214px;
		margin:0 auto;
	}
	#footer p{
		width:100%;
		text-align:center;
		top:100px;
		right:50%;
		-webkit-transform:translateX(50%);
		-moz-transform:translateX(50%);
		-ms-transform:translateX(50%);
		-o-transform:translateX(50%);
		transform:translateX(50%);
	}

}

@media all and (max-width:340px){

	#footer p{
		width:100%;
	}
	#footer p img{
		width:100%;
	}

}
*/
